{% extends "core/base.html" %}
{% load app_filters %}
{% load widget_tweaks %}

{% block content %}
    {% include "account/js/account_info.html" %}
    
    <div class="container-fluid">
        {% include "account/blocks/create-account-header.html" %}
	    </div>
		<div class="row">
			<div class="col-md-6">
				<form action="{{ callback }}" method="post" id="main-form">
				    {% csrf_token %}
				    {{ form.non_field_errors }}
				    {% for field in form %}
				        <div class="form-group">
				            {{ field|label_with_classes:"control-label" }} 
				            {{ field|attr:"class:form-control" }}
			            </div>
			            <div id="form-errors" style="color:red;">{{ field.errors }}</div>
				    {% endfor %}
				    <input type="hidden" name="redirect-url" value="" />
				    <input type="submit" value="Submit" />
				</form>
			</div>
		</div>
	</div>
{% endblock %}