{% extends "core/home_base.html" %}
{% load app_filters %}
{% load widget_tweaks %}

{% block subcontent %}
   
	<form action="{{ callback }}" method="post" id="main-form">
		<div class="row">
			<div class="col-md-6">
			    <h3>Members</h3>
			    <div class="row">
			        <div class="col-md-6">
					    {% csrf_token %}
					    {{ form.non_field_errors }}
					    
					    <img src="{{ group.participant.get_image }}" width="150" height="150" alt="" />
		
				        <div class="form-group">
				            {{ form.title|label_with_classes:"control-label" }} 
				            {{ form.title|attr:"class:form-control" }}
			            </div>
			            <div id="form-errors" style="color:red;">{{ form.title.errors }}</div>
			            
			            <div class="form-group">
				            {{ form.description|label_with_classes:"control-label" }} 
				            {{ form.description|attr:"class:form-control" }}
			            </div>
			            <div id="form-errors" style="color:red;">{{ form.description.errors }}</div>
		
					    <input type="hidden" name="redirect-url" value="" />
					    <input type="submit" value="Submit" />
				    </div>
				    <div class="col-md-6">
					    {% for field in form %}
					    	{% if field.label == 'Neighborhood' or field.label == 'City' or field.label == 'Phone number' or field.label == 'Phone type' or field.label == 'Email' or field.label == 'Website' %}
			                {% include 'core/blocks/formgroup.html' %}
			                {% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			
			<div class="col-md-6">
			    <h3>Members</h3>
			    <strong>Awaiting Approval:</strong><br>
			    {% for participant in awaitingApproval %}
			        {% include 'core/blocks/participantgroup.html' %}
			    {% empty %}
			        <em>None</em>
			    {% endfor %}
			    <hr>
			    <strong>Current Members:</strong><br>
			    {% for participant in currentMembers %}
			        {% include 'core/blocks/participantgroup.html' %}
			    {% empty %}
			        <em>None</em>
			    {% endfor %}
			    <br>
			    <button type="button" class="btn btn-primary">Invite More People</button>
			</div>
		</div>
	</form>
{% endblock %}