{% load staticfiles %}

	<div id="footer" class="text-center" style="margin:50px 50px 25px 50px;">
    	<hr>
    	<div class="text-muted">
    	    Questions and feedback: <a href="mailto:admin@villagebuilder.net">admin@villagebuilder.net</a>
	    	&nbsp;&nbsp;|&nbsp;&nbsp;  
	    	Source Code:    
	    	<a href="https://github.com/jmeinken/VillageBuilder" target="_blank">
	    	    GitHub
	    	</a>
	    </div>
    	<div class="text-muted" style="margin-top:10px;">
    	    created by John Meinken 
    	    &nbsp;&nbsp;|&nbsp;&nbsp;  
    	    Made in Ohio
    		<img src="{% static 'img/oh.png' %}" alt="OH" width="15" height="15" /> 
    	</div>
    </div>