{% load staticfiles %}

<style>
#person1b {
	position:absolute;
	left: 10px;
	top: 170px;
}
#person2b {
	position:absolute;
	left: 280px;
	top: 25px;
}
#person3b {
	position:absolute;
	left: 410px;
	top: 25px;
}
#person4b {
	position:absolute;
	left: 480px;
	top: 200px;
}
#person5b {
	position:absolute;
	left: 280px;
	top: 200px;
}
#person4-faded {
	position:absolute;
	left: 480px;
	top: 200px;
	opacity: 0;
}
#person5-faded {
	position:absolute;
	left: 280px;
	top: 200px;
	opacity: 0;
}


#item1b {
	position:absolute;
	left: 0;
	top: 25px;
}
#item2b {
	position:absolute;
	left: 75px;
	top: 25px;
}
#item3b {
	position:absolute;
	left: 150px;
	top: 25px;
}
#item4b {
	position:absolute;
	left: 37px;
	top: 100px;
}
#item3-faded {
	position:absolute;
	left: 150px;
	top: 25px;
	opacity: 0;
}
#item4-faded {
	position:absolute;
	left: 37px;
	top: 100px;
	opacity: 0;
}
#item5b {
	position:absolute;
	left: 112px;
	top: 100px;
}



</style>

<img id="person1b" src="{% static 'img/slideshow/person1.png' %}" alt="VillageBuilder" width="170" height="170" /> 
<img id="person2b" src="{% static 'img/slideshow/person2.png' %}" alt="VillageBuilder" width="100" height="100" /> 
<img id="person3b" src="{% static 'img/slideshow/person3.png' %}" alt="VillageBuilder" width="170" height="100" /> 
<img id="person4b" src="{% static 'img/slideshow/person4.png' %}" alt="VillageBuilder" width="100" height="100" /> 
<img id="person5b" src="{% static 'img/slideshow/person5.png' %}" alt="VillageBuilder" width="170" height="100" /> 

<img id="person4-faded" src="{% static 'img/slideshow/person4-faded.png' %}" alt="VillageBuilder" width="100" height="100" /> 
<img id="person5-faded" src="{% static 'img/slideshow/person5-faded.png' %}" alt="VillageBuilder" width="170" height="100" /> 

<img id="item1b" src="{% static 'img/slideshow/item1.png' %}" alt="VillageBuilder" width="70" height="70" /> 
<img id="item2b" src="{% static 'img/slideshow/item2.png' %}" alt="VillageBuilder" width="70" height="70" /> 
<img id="item3b" src="{% static 'img/slideshow/item3.png' %}" alt="VillageBuilder" width="70" height="70" /> 
<img id="item4b" src="{% static 'img/slideshow/item4.png' %}" alt="VillageBuilder" width="70" height="70" /> 
<img id="item5b" src="{% static 'img/slideshow/item5.png' %}" alt="VillageBuilder" width="70" height="70" />

<img id="item3-faded" src="{% static 'img/slideshow/item3-faded.png' %}" alt="VillageBuilder" width="70" height="70" /> 
<img id="item4-faded" src="{% static 'img/slideshow/item4-faded.png' %}" alt="VillageBuilder" width="70" height="70" /> 






<div id="panel5-text" style="opacity:0;">
	You have complete control over what you share and who you share with. Like we said, no awkwardness.
</div>


