{% load staticfiles %}

<style>
#person1 {
	position:absolute;
	left: 200px;
	top: 140px;
}
#person2 {
	position:absolute;
	left: 20px;
	top: 210px;
	opacity: 0;
}
#person3 {
	position:absolute;
	left: 390px;
	top: 215px;
	opacity: 0;
}
#arrow1 {
	position:absolute;
	left: 150px;
	top: 260px;
	opacity: 0;
}
#arrow2 {
	position:absolute;
	left: 345px;
	top: 260px;
	opacity: 0;
}

#item1 {
	position:absolute;
	left: 300px;
	top: 150px;
}
#item2 {
	position:absolute;
	left: 300px;
	top: 150px;
}
#item3 {
	position:absolute;
	left: 300px;
	top: 150px;
}
#item4 {
	position:absolute;
	left: 300px;
	top: 150px;
}
#item5 {
	position:absolute;
	left: 300px;
	top: 150px;
}

#item6 {
	position:absolute;
	left: 412px;
	top: 37px;
}
#item7 {
	position:absolute;
	left: 487px;
	top: 37px;
}
#item8 {
	position:absolute;
	left: 562px;
	top: 37px;
}
#item9 {
	position:absolute;
	left: 37px;
	top: 112px;
}
#item10 {
	position:absolute;
	left: 112px;
	top: 112px;
}
#item11 {
	position:absolute;
	left: 187px;
	top: 112px;
}
#item12 {
	position:absolute;
	left: 262px;
	top: 112px;
}
#item13 {
	position:absolute;
	left: 337px;
	top: 112px;
}
#item14 {
	position:absolute;
	left: 412px;
	top: 112px;
}
#item15 {
	position:absolute;
	left: 487px;
	top: 112px;
}
#item16 {
	position:absolute;
	left: 562px;
	top: 112px;
}

</style>

<img id="person1" src="{% static 'img/slideshow/person1.png' %}" alt="VillageBuilder" width="200" height="200" /> 
<img id="person2" src="{% static 'img/slideshow/person2.png' %}" alt="VillageBuilder" width="120" height="120" /> 
<img id="person3" src="{% static 'img/slideshow/person3.png' %}" alt="VillageBuilder" width="190" height="115" /> 
<img id="arrow1" src="{% static 'img/slideshow/arrow1.png' %}" alt="VillageBuilder" width="50" height="20" /> 
<img id="arrow2" src="{% static 'img/slideshow/arrow2.png' %}" alt="VillageBuilder" width="50" height="20" /> 

<img id="item1" src="{% static 'img/slideshow/item1.png' %}" alt="VillageBuilder" width="0" height="0" /> 
<img id="item2" src="{% static 'img/slideshow/item2.png' %}" alt="VillageBuilder" width="0" height="0" /> 
<img id="item3" src="{% static 'img/slideshow/item3.png' %}" alt="VillageBuilder" width="0" height="0" /> 
<img id="item4" src="{% static 'img/slideshow/item4.png' %}" alt="VillageBuilder" width="0" height="0" /> 
<img id="item5" src="{% static 'img/slideshow/item5.png' %}" alt="VillageBuilder" width="0" height="0" /> 
<img id="item6" src="{% static 'img/slideshow/item6.png' %}" alt="VillageBuilder" width="0" height="0" /> 
<img id="item7" src="{% static 'img/slideshow/item7.png' %}" alt="VillageBuilder" width="0" height="0" /> 
<img id="item8" src="{% static 'img/slideshow/item8.png' %}" alt="VillageBuilder" width="0" height="0" /> 
<img id="item9" src="{% static 'img/slideshow/item9.png' %}" alt="VillageBuilder" width="0" height="0" /> 
<img id="item10" src="{% static 'img/slideshow/item10.png' %}" alt="VillageBuilder" width="0" height="0" /> 
<img id="item11" src="{% static 'img/slideshow/item11.png' %}" alt="VillageBuilder" width="0" height="0" /> 
<img id="item12" src="{% static 'img/slideshow/item12.png' %}" alt="VillageBuilder" width="0" height="0" /> 
<img id="item13" src="{% static 'img/slideshow/item13.png' %}" alt="VillageBuilder" width="0" height="0" /> 
<img id="item14" src="{% static 'img/slideshow/item14.png' %}" alt="VillageBuilder" width="0" height="0" /> 
<img id="item15" src="{% static 'img/slideshow/item15.png' %}" alt="VillageBuilder" width="0" height="0" /> 
<img id="item16" src="{% static 'img/slideshow/item16.png' %}" alt="VillageBuilder" width="0" height="0" /> 





<div id="panel2-text" style="opacity:0;" class="slideshow-text">
	Have power tools gathering dust?  Hanging on to that old stroller just in case?  
	VillageBuilder lets you share those extra items with friends and neighbors.
</div>


