{% load staticfiles %}

<style>
#person1 {
	position:absolute;
	left: 33%;
	top: 140px;
}

#item1 {
	position:absolute;
	left: 0;
	top: 0;
}
#item2 {
	position:absolute;
	left: 125px;
	top: 0;
}
#item3 {
	position:absolute;
	left: 250px;
	top: 0;
}
#item4 {
	position:absolute;
	left: 375px;
	top: 0;
}
#item5 {
	position:absolute;
	left: 500px;
	top: 0;
}

</style>

<img id="item1" src="{% static 'img/slideshow/item1.png' %}" alt="VillageBuilder" width="0" height="0" /> 
<img id="item2" src="{% static 'img/slideshow/item2.png' %}" alt="VillageBuilder" width="0" height="0" /> 
<img id="item3" src="{% static 'img/slideshow/item3.png' %}" alt="VillageBuilder" width="0" height="0" /> 
<img id="item4" src="{% static 'img/slideshow/item4.png' %}" alt="VillageBuilder" width="0" height="0" /> 
<img id="item5" src="{% static 'img/slideshow/item5.png' %}" alt="VillageBuilder" width="0" height="0" /> 




<img id="person1" src="{% static 'img/slideshow/person1.png' %}" alt="VillageBuilder" width="200" height="200" /> 

<div id="panel2-text" style="opacity:0;">
	Have power tools gathering dust?  Hanging on to that old stroller just in case?  
	VillageBuilder lets you share those extra items with friends and neighbors.
</div>


