{% load app_filters %}
{% load widget_tweaks %}

<form action="{% url 'account:account_info' %}" method="post" id="main-form">
    {% csrf_token %}
    <div style="text-align:center;">
   		<h3>Create Your Free Account</h3>
   	</div>
    <div style="width:420px;margin:0 auto;border-top:1px solid #EC7621; padding-top:10px;overflow:hidden;padding-right:2px;">
        <div class="form-group">
            {{ createAccountForm.email|label_with_classes:"control-label" }} 
            {{ createAccountForm.email|attr:"class:form-control" }}
        </div>
	    <div style="width:200px;margin-right:18px;float:left;">
	        <div class="form-group">
		            {{ createAccountForm.first_name|label_with_classes:"control-label" }} 
		            {{ createAccountForm.first_name|attr:"class:form-control" }}
		            <a href="#" data-toggle="modal" data-target="#name-privacy-modal"> 
		                <i class="fa fa-question-circle"></i> Do you need my name?
	                </a>
	        </div>
	    </div>
	    <div style="width:200px;float:left;">
			<div class="form-group">
			 	{{ createAccountForm.last_name|label_with_classes:"control-label" }} 
			 	{{ createAccountForm.last_name|attr:"class:form-control" }}
			</div>
	    </div>
	    <div style="width:200px;margin-right:18px;float:left;">
	        <div class="form-group">
		            {{ createAccountForm.password|label_with_classes:"control-label" }} 
		            {{ createAccountForm.password|attr:"class:form-control" }}
		            <span class="text-muted">minimum 8 characters</span>
	        </div>
	    </div>
	    <div style=width:200px;float:left;">
	        <div class="form-group">
		            {{ createAccountForm.resubmit_password|label_with_classes:"control-label" }} 
		            {{ createAccountForm.resubmit_password|attr:"class:form-control" }}
	        </div>
	    </div>
		<input type="hidden" name="redirect-url" value="" />
	</div>
	<div style="text-align: right;width:420px;margin:0 auto;">
	    <button type="submit" class="btn btn-success">
	    	Next Step <i class="fa fa-angle-double-right"></i>
	    </button>
	</div>
	
</form>