{% extends "email/formatted_email_base.html" %}

{% block content %}
<p>Here is what's been happening since you last visited VillageBuilder.</p>

{% if requests.count > 0 %}
	<h3>Recent Requests From Your Friends:</h3>
	{% for request in requests %}
		<div style="background-color:#C0C0C0;margin:5px;padding:5px;">
			{{ request.member.participant.get_name }} - {{ request.date }}<br>
			{{ request.body|linebreaks }}
			<a href="https://villagebuilder.net{% url 'requests:request' request.id  %}">view this request</a>
		</div>
	{% endfor %}
{% endif %}

{% if requestComments %}
	<h3>Other Activity:</h3>
	{% for comment in requestComments %}
		<div style="background-color:#C0C0C0;margin:5px;padding:5px;">
			{{ comment.html|safe }}
		</div>
	{% endfor %}
{% endif %}

{% if items.count > 0 %}
	<h3>New Items Shared with You:</h3>
	{% for item in items %}
		<div style="background-color:#C0C0C0;margin:5px;padding:5px;">
			<strong>{{ item.title }}</strong><br>
			shared by {{ item.sharer.participant.get_name }}<br>
			<a href="https://villagebuilder.net{% url 'sharing:item' item.id  %}">view this item</a>
		</div>
	{% endfor %}
{% endif %}

{% endblock %}




