{% extends "email/formatted_email_base.html" %}

{% block content %}

<p style="margin: 0;padding: 0;font-size: 14px;font-weight: normal;margin-bottom: 10px;">
You have received a new personal message from {{ sender_name }}:
</p>


<p class="well" style="font-size: 14px;margin: 0 0 5px 0 ;padding: 19px;font-weight: normal;min-height: 20px;background-color: #F5F5F5;border: 1px solid #E3E3E3;border-radius: 4px;box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;">
{{pmMessage|linebreaks}}
</p>


<a class="btn btn-primary" href="{{ link }}" style="margin: 0;padding: 8px 12px;color: #FFF;border-radius: 2px;margin-bottom: 10px;font-size: 14px;font-weight: 400;line-height: 1.42857;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;border: 1px solid transparent;text-decoration: none;border-color: #006500;background-color: #006500;">
View/Reply to this message
</a><br><br>

{% endblock %}




