{% extends "email/formatted_email_base.html" %}

{% block content %}

<p style="margin: 0;padding: 0;font-size: 14px;font-weight: normal;margin-bottom: 10px;">
Welcome to VillageBuilder!
</p>

<p style="margin: 0;padding: 0;font-size: 14px;font-weight: normal;margin-bottom: 10px;">
If this email showed up in your junk folder, please move it so that you can continue to get emails from us.  
We only email you about activity relevant
to your account.
</p>

<p style="margin: 0;padding: 0;font-size: 14px;font-weight: normal;margin-bottom: 10px;">
You can manage your email preferences any time on the 
<a href="https://villagebuilder.net/account/account" style="color: #0099FF;">
account settings page.
</a>
</p>


<a class="btn btn-primary" 
         href="https://villagebuilder.net/account/account" 
         style="margin: 0;padding: 8px 12px;color: #FFF;border-radius: 2px;margin-bottom: 10px;font-size: 14px;font-weight: 400;line-height: 1.42857;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;border: 1px solid transparent;text-decoration: none;border-color: #EC7621;background-color: #EC7621;">
         Manage email preferences
</a><br><br>

<a class="btn btn-primary" 
         href="https://villagebuilder.net" 
         style="margin: 0;padding: 8px 12px;color: #FFF;border-radius: 2px;margin-bottom: 10px;font-size: 14px;font-weight: 400;line-height: 1.42857;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;border: 1px solid transparent;text-decoration: none;border-color: #34B51E;background-color: #34B51E;">
         Go to my home page
</a><br><br>




{% endblock %}