{% extends "base.html" %}
{% load app_filters %}
{% load widget_tweaks %}<!-- https://pypi.python.org/pypi/django-widget-tweaks -->
{% load staticfiles %}

{% block content %}

{% include "js/personal_info.html" %}
{% include "modals/upload_tool.html" %}	

    <div class="container-fluid">
        {% include "blocks/create-account-header.html" %}
	    <form action="{{ callback }}" method="post" id="personal-info-form">
	        <div style="display:none;">
	            <!-- Account Info form is hidden here -->
	        	{% for field in hiddenForm %}	
			        <div class="form-group">
				        {{ field.errors }}
			            {{ field|label_with_classes:"control-label" }} 
			            {{ field|attr:"class:form-control" }}
		            </div>
			    {% endfor %}
			    <div class="form-group">
			        {{ form.image.errors }}
		            {{ form.image|label_with_classes:"control-label" }} 
		            {{ form.image|attr:"class:form-control"|attr:"readonly" }}
	            </div>
	            <div class="form-group">
			        {{ form.thumb.errors }}
		            {{ form.thumb|label_with_classes:"control-label" }} 
		            {{ form.thumb|attr:"class:form-control"|attr:"readonly" }}
	            </div>
	        </div>
			<div class="row">
				<div class="col-md-4">
					    {% csrf_token %}
				        <div class="form-group">
					        {{ form.full_address.errors }}
				            {{ form.full_address|label_with_classes:"control-label" }} 
				            {{ form.full_address|attr:"class:form-control"|attr:"readonly" }}
			            </div>
			            <div class="form-group">
					        {{ form.street.errors }}
				            {{ form.street|label_with_classes:"control-label" }} 
				            {{ form.street|attr:"class:form-control" }}
			            </div>
			            <div class="form-group">
					        {{ form.city.errors }}
				            {{ form.city|label_with_classes:"control-label" }} 
				            {{ form.city|attr:"class:form-control" }}
			            </div>
			            <div class="form-group">
					        {{ form.neighborhood.errors }}
				            {{ form.neighborhood|label_with_classes:"control-label" }} 
				            {{ form.neighborhood|attr:"class:form-control" }}
			            </div>
				</div>
				<div class="col-md-4">
						<img id="user-pic" src="{% static "img/generic-user.png" %}" alt="User Pic" width="150" height="150" />
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#upload-pic-modal">
							Upload Picture
						</button>
				        <div class="checkbox">
					        {{ form.share_email.errors }}
				             
				            {{ form.share_email }}
				            {{ form.share_email.label_tag|remove_colon }}
			            </div>
			            <div class="checkbox">
					        {{ form.share_phone.errors }}
				             
				            {{ form.share_phone }}
				            {{ form.share_phone.label_tag|remove_colon }}
			            </div>
			            <div id="phone-info">
			            	<div class="form-group">
						        {{ form.phone_number.errors }}
					            {{ form.phone_number|label_with_classes:"control-label" }} 
					            {{ form.phone_number|attr:"class:form-control" }}
				            </div>
				            <div class="form-group">
						        {{ form.phone_type.errors }}
					            {{ form.phone_type|label_with_classes:"control-label" }} 
					            {{ form.phone_type|attr:"class:form-control" }}
				            </div>
			            </div>
					    
					    <input type="submit" value="Submit" />
				</div>
				<div class="col-md-4">
					<h3>Shared with Everyone</h3>
					    <img id="shared-user-pic" src="{% static "img/generic-user.png" %}" alt="User Pic" width="55" height="55" />
					    <span id="shared-first-name"></span> <span id="shared-last-name"></span><br />
					    <span id="shared-street"></span> (<span id="shared-neighborhood"></span>)
					<hr>
					<h3>Shared Only with Friends</h3>
					<div id="shared-email-show">
						<strong>Email: </strong> <span id="shared-email"></span>
					</div>
					<div id="shared-phone-show">
						<strong>Phone: </strong> <span id="shared-phone"></span> <span id="shared-phone-type"></span>
					</div>
				</div>
			</div>
		</form>
	</div>




{% endblock %}