{% extends "core/bases/home_base.html" %}
{% load app_filters %}
{% load widget_tweaks %}

{% block subcontent %}

  <style>
  .selected_block .participant-block {
  	  background-color: blue;
  }
  .unviewed_block .participant-block {
  	  background-color: red;
  }
  </style>

  <h2>Messages</h2>
  <div class="row">
  	<div class="col-md-3">
  	    <a href="{% url 'pm:messages' 0 %}" type="button" class="btn btn-primary">Write a New Message</a>
  	    <br><br>
  	    <h4>Recent Conversations</h4>
  	    {% for participant in participants %}
  	        <a href="{% url 'pm:messages' participant.id %}" class="
  	          	  {% if participant.id == conversation %}selected_block
  	          	  {% elif participant.has_unviewed_messages %}  unviewed_block
  	           	  {% endif %}
  	        ">
  	        	{% include 'core/blocks/participantgroup_noactions.html' %}
  	        </a>
  	    {% endfor %}
  	</div>
  	<div class="col-md-6">
  	    <form method="post" action="{% url 'pm:messages' conversation %}">
  	        {% csrf_token %}
		    {{ form.non_field_errors }}
		    {% for field in newMessageForm %}
		        <div class="form-group">
		            {{ field|label_with_classes:"control-label" }} 
		            {{ field|attr:"class:form-control" }}
	            </div>
	            <div id="form-errors" style="color:red;">{{ field.errors }}</div>
		    {% endfor %}
		    <button type="submit" class="btn btn-primary">Send Message</button>
  	    </form>
  	    {% for message in messages %}
	  	    <div style="float:left; padding:0 10px 10px 0;">
	  	    	<img src="{{ message.sender.get_thumb }}" />
  	    	</div>
  	    	<div class="text-muted">{{ message.sender.get_name }} ({{ message.sent_on }})</div>
  	    	<strong>{{ message.subject }}</strong>
  	    	<p style="clear:both;">{{ message.body|linebreaksbr|urlize }}</p>
  	    {% endfor %}
  	</div>
  </div>
{% endblock %}	




