

{% if participant.relationship != RelationshipTypes.SELF %}
	<div class="btn-group">
		<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
		<ul class="dropdown-menu dropdown-menu-right widen" style="padding: 5px 10px;">
		    {% if participant.relationship == RelationshipTypes.FRIENDS %}
				<li><i class="fa fa-check"></i> You are Friends</li>
				<li class="hcenter-content">
					<form method="POST" action="{% url 'relationships:remove-friend' %}" id="remove-friend-form-{{participant.id}}">
						{% csrf_token %}
						<input type="hidden" name="redirect" value="{{request.build_absolute_uri}}" />
						<input type="hidden" name="friend-id" value="{{participant.id}}" />
						<button type="submit" class="btn btn-primary btn-xs btn-participantgroup">Unfriend</button>
					</form>
				</li>
			{% endif %}
			{% if participant.relationship == RelationshipTypes.NOT_FRIENDS %}
	    	<div class="btn-group">
			    <li class="hcenter-content">
			        <form method="POST" action="{% url 'relationships:add-friend' %}" id="add-friend-form-{{participant.id}}">
			            {% csrf_token %}
			            <input type="hidden" name="redirect" value="{{request.build_absolute_uri}}" />
			            <input type="hidden" name="friend-id" value="{{participant.id}}" />
			            <button type="submit" class="btn btn-primary btn-xs btn-participantgroup">Add as friend</button>
			        </form>
		        </li>
			{% endif %}	
			{% if participant.relationship == RelationshipTypes.REQUEST_SENT %}
			    <li><i class="fa fa-check"></i> Request Sent (awaiting confirmation)</li>
			    <li class="hcenter-content">
			        <form method="POST" action="{% url 'relationships:remove-friend' %}" id="remove-friend-form-{{participant.id}}">
			            {% csrf_token %}
			            <input type="hidden" name="redirect" value="{{request.build_absolute_uri}}" />
			            <input type="hidden" name="friend-id" value="{{participant.id}}" />
			            <button type="submit" class="btn btn-primary btn-xs btn-participantgroup">Cancel Request</button>
			        </form>
		        </li>
			{% endif %}	
			{% if participant.relationship == RelationshipTypes.REQUEST_RECEIVED %}
			    <li><i class="fa fa-check"></i> Request Received</li>
			    <li class="hcenter-content">
			        <form method="POST" action="{% url 'relationships:add-friend' %}" id="add-friend-form-{{participant.id}}">
			            {% csrf_token %}
			            <input type="hidden" name="redirect" value="{{request.build_absolute_uri}}" />
			            <input type="hidden" name="friend-id" value="{{participant.id}}" />
			            <button type="submit" class="btn btn-primary btn-xs btn-participantgroup">Accept Friend Request</button>
			            <button type="button" class="btn btn-warning btn-xs btn-participantgroup">Ignore</button>
			        </form>
		        </li>
			{% endif %}	
			{% if participant.relationship == RelationshipTypes.GUEST_FRIENDS %}
			    <li><i class="fa fa-check"></i> Guest Friends</li>
			    <li class="hcenter-content">
			        <form method="POST" 
			        		action="{% url 'relationships:remove-guest-friend' %}" 
			        		id="remove-guest-friend-form-{{participant.id}}">
			            {% csrf_token %}
			            <input type="hidden" name="redirect" value="{{request.build_absolute_uri}}" />
			            <input type="hidden" name="friend-id" value="{{participant.id}}" />
			            <button type="submit" class="btn btn-primary btn-xs btn-participantgroup">Unfriend</button>
			        </form>
		        </li>
			{% endif %}	
			{% if participant.relationship == RelationshipTypes.GROUP_OWNER %}
			    <li>This is your group.</li>
			{% endif %}	
			{% if participant.relationship == RelationshipTypes.GROUP_MEMBER %}
			    <li>You belong to this group.</li>
			    <li class="hcenter-content">
				    <form method="POST" 
			        		action="{% url 'relationships:unjoin_group' %}" 
			        		id="remove-guest-friend-form-{{participant.id}}">
			            {% csrf_token %}
			            <input type="hidden" name="redirect" value="{{request.build_absolute_uri}}" />
			            <input type="hidden" name="group_id" value="{{participant.id}}" />
			            <button type="submit" class="btn btn-primary btn-xs btn-participantgroup">Unjoin Group</button>
			        </form>
			    </li>
			{% endif %}	
			{% if participant.relationship == RelationshipTypes.NOT_GROUP_MEMBER %}
			    <li class="hcenter-content">
				    <form method="POST" 
			        		action="{% url 'relationships:join_group' %}" 
			        		id="remove-guest-friend-form-{{participant.id}}">
			            {% csrf_token %}
			            <input type="hidden" name="redirect" value="{{request.build_absolute_uri}}" />
			            <input type="hidden" name="group_id" value="{{participant.id}}" />
			            <button type="submit" class="btn btn-primary btn-xs btn-participantgroup">Request to Join Group</button>
			        </form>
			    </li>
			{% endif %}	
			{% if participant.relationship == RelationshipTypes.GROUP_MEMBER_REQUESTED %}
			    <li>Membership requested (awaiting approval)</li>
			    <li class="hcenter-content">
				    <form method="POST" 
			        		action="{% url 'relationships:unjoin_group' %}" 
			        		id="remove-guest-friend-form-{{participant.id}}">
			            {% csrf_token %}
			            <input type="hidden" name="redirect" value="{{request.build_absolute_uri}}" />
			            <input type="hidden" name="group_id" value="{{participant.id}}" />
			            <button type="submit" class="btn btn-primary btn-xs btn-participantgroup">Cancel Request</button>
			        </form>
			    </li>
			{% endif %}	
			{% if participant.relationship == RelationshipTypes.GROUP_MEMBER_INVITED %}
			    <li>You have been invited by the group owner to join this group.</li>
			    <li class="hcenter-content">
				    <form method="POST" 
			        		action="{% url 'relationships:join_group' %}" 
			        		id="remove-guest-friend-form-{{participant.id}}">
			            {% csrf_token %}
			            <input type="hidden" name="redirect" value="{{request.build_absolute_uri}}" />
			            <input type="hidden" name="group_id" value="{{participant.id}}" />
			            <button type="submit" class="btn btn-primary btn-xs btn-participantgroup">Join Group</button>
			        </form>
			    </li>
			{% endif %}	

			{% for group_relationship in participant.group_relationships %}
			    {% if group_relationship.relationship == RelationshipTypes.GROUP_MEMBER %}
					<li class="divider"></li>
					<li><i class="fa fa-check"></i> Member of {{ group_relationship.name }}</li>
					<li class="hcenter-content">
					    <form method="POST" 
				        		action="{% url 'relationships:remove_from_group' %}" 
				        		id="remove-guest-friend-form-{{participant.id}}">
				            {% csrf_token %}
				            <input type="hidden" name="redirect" value="{{request.build_absolute_uri}}" />
				            <input type="hidden" name="member-id" value="{{participant.id}}" />
				            <input type="hidden" name="group-id" value="{{group_relationship.id}}" />
				            <button type="submit" class="btn btn-primary btn-xs btn-participantgroup">Remove from Group</button>
				        </form>
				    </li>
				{% endif %}	
				{% if group_relationship.relationship == RelationshipTypes.NOT_GROUP_MEMBER %}
					<li class="divider"></li>
					<li>Not a member of {{ group_relationship.name }}</li>
					<li class="hcenter-content">
					    <form method="POST" 
				        		action="{% url 'relationships:add_to_group' %}" 
				        		id="remove-guest-friend-form-{{participant.id}}">
				            {% csrf_token %}
				            <input type="hidden" name="redirect" value="{{request.build_absolute_uri}}" />
				            <input type="hidden" name="member-id" value="{{participant.id}}" />
				            <input type="hidden" name="group-id" value="{{group_relationship.id}}" />
				            <button type="submit" class="btn btn-primary btn-xs btn-participantgroup">Invite to Join</button>
				        </form>
				    </li>
				{% endif %}	
				{% if group_relationship.relationship == RelationshipTypes.GROUP_MEMBER_REQUESTED %}
					<li class="divider"></li>
					<li>Wants to join {{ group_relationship.name }}</li>
					<li class="hcenter-content">
					    <form method="POST" 
				        		action="{% url 'relationships:add_to_group' %}" 
				        		id="remove-guest-friend-form-{{participant.id}}">
				            {% csrf_token %}
				            <input type="hidden" name="redirect" value="{{request.build_absolute_uri}}" />
				            <input type="hidden" name="member-id" value="{{participant.id}}" />
				            <input type="hidden" name="group-id" value="{{group_relationship.id}}" />
				            <button type="submit" class="btn btn-primary btn-xs btn-participantgroup">Accept Request</button>
				            <button type="button" class="btn btn-warning btn-xs btn-participantgroup">Ignore</button>
				        </form>
				    </li>
				{% endif %}	
				{% if group_relationship.relationship == RelationshipTypes.GROUP_MEMBER_INVITED %}
					<li class="divider"></li>
					<li>You invited to join {{ group_relationship.name }}</li>
					<li class="hcenter-content">
					    <form method="POST" 
				        		action="{% url 'relationships:remove_from_group' %}" 
				        		id="remove-guest-friend-form-{{participant.id}}">
				            {% csrf_token %}
				            <input type="hidden" name="redirect" value="{{request.build_absolute_uri}}" />
				            <input type="hidden" name="member-id" value="{{participant.id}}" />
				            <input type="hidden" name="group-id" value="{{group_relationship.id}}" />
				            <button type="submit" class="btn btn-primary btn-xs btn-participantgroup">Cancel Invitation</button>
				        </form>
				    </li>
				{% endif %}	
			{% endfor %}
		</ul>
	</div>
{% endif %}