{% extends "core/bases/home_base.html" %}
{% load app_filters %}
{% load widget_tweaks %}

{% block subcontent %}

  <style>
  .selected_block .participant-block {
  	  background-color: #D1E0FF;
  }
  .unviewed_block .participant-block {
  	  background-color: #F5DCCC;
  }
  </style>
  
<script>

    $(document).ready(function(){    	
    	
    	var height = $('#conversation')[0].scrollHeight;
    	$('#conversation').scrollTop(height);

    	var myval = $('#id_body').val();
    	$('#id_body').val('');
    	$('#id_body').focus();
    	$('#id_body').val(myval);

    });
</script>


<div id="top-section">
	<h2 id="top-title">Messages</h2>
</div>

  <div class="row">
  	<div class="col-md-3">
  	    <h4>Select a conversation to view:</h4>
  	    {% for participant in participants %}
  	        <a href="{% url 'pm:messages' participant.id %}" class="
  	          	  {% if participant.id == conversation %}selected_block
  	          	  {% elif participant.has_unviewed_messages %}  unviewed_block
  	           	  {% endif %}
  	        ">
  	        	{% include 'core/blocks/participantgroup_noactions.html' %}
  	        </a>
  	    {% endfor %}
  	</div>
  	<div class="col-md-5">
  		{% if messageList %}
	  	    <h3>
	  	        Conversation with 
	  	        <a href="{% url 'account:view' participant.id %}">{{ participant.get_name }}</a>
	  	    </h3>
	  	    <hr>
	  	{% endif %}
  	    <div style="height:300px;overflow-y:auto;background-color:#F0F0F0;" id="conversation">
	  	    {% for message in messageList %}
	  	        <hr style="clear:both;border-color:white;">
		  	    <div style="float:left; padding:0 10px 10px 0;">
		  	    	<img src="{{ message.sender.get_thumb }}" width="30" height="30" />
	  	    	</div>
	  	    	<div style="padding-left:40px;">
		  	    	<div class="text-muted" style="margin-bottom:10px;"">
		  	    	    ({{ message.sent_on }}) {{ message.sender.get_name }} 
		  	    	</div>
		  	    	<div>{{ message.body|urlize|linebreaksbr }}</div>
		  	    </div>
	  	    {% endfor %}
	  	    <br>
	  	</div>
  	</div>
  	<div class="col-md-4">
  		<form method="post" action="{% url 'pm:messages' 0 %}">
  	        {% csrf_token %}
		    {{ form.non_field_errors }}
		    {% for field in newMessageForm %}
		        <div class="form-group">
		            {{ field|label_with_classes:"control-label" }} 
		            {{ field|attr:"class:form-control" }}
	            </div>
	            <div id="form-errors" style="color:red;">{{ field.errors }}</div>
		    {% endfor %}
		    <button type="submit" class="btn btn-primary">Send Message</button>
  	    </form>
  	</div>
  </div>
{% endblock %}	




