{% extends "core/bases/home_base.html" %}
{% load app_filters %}
{% load widget_tweaks %}

{% block subcontent %}

<script>

$(document).ready(function(){
	
	//facebook integration
	$.ajaxSetup({ cache: true });
	$.getScript('//connect.facebook.net/en_US/sdk.js', function(){
  		FB.init({
    		appId: '1184393148243808',
    		version: 'v2.4' // or v2.0, v2.1, v2.2, v2.3
  		});     
  		//$('#loginbutton,#feedbutton').removeAttr('disabled');
  		//FB.getLoginStatus(updateStatusCallback);
	});
	
	$('#btn-make-item-public').click(function() {
		var postData = {
			item_id : {{item.id}}
		}
		$.post("{% url 'sharing:make_item_public' %}", postData, function(data, status){
			if (status == 'success') {
	    		$('#item-public-link').val(data.link);
	    		$('#item-public-link-div').slideDown();
			}
	    });
	});
	
	$('#btn-share-on-facebook').click(function() {
		var postData = {
			item_id : {{item.id}}
		}
		$.post("{% url 'sharing:make_item_public' %}", postData, function(data, status){
			if (status == 'success') {
				FB.ui({
					method: 'share',
					href: data.link
		  		}, function(response){
		  			console.log(response);
		  		});
			}
	    });
	});
	
	
		
	
}); 

</script>

<div id="top-section">
    {% if current.member.id == sharer.id %}
	    <div id="top-actions">
			<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#share-by-email-modal">
			    Share by email <i class="fa fa-envelope-o"></i>
			</a>
			<button type="button" class="btn btn-primary" id="btn-share-on-facebook">
			    Share on Facebook <i class="fa fa-facebook-official"></i>
			</button>
			<a href="{% url 'sharing:edit_item' item.id %}" class="btn btn-warning">
			    Edit Item <i class="fa fa-pencil"></i>
			</a>
		</div>
	{% endif %}
	<h2 id="top-title">Shared Item</h2>
</div>
	
	<div class="row">
    	<div class="col-sm-7">
    	    <img src="{{ item.get_image }}" alt="" width="250" height="250" 
    	            style="float:left;margin-right:10px;">
			<h1>{{ item.title }}</h1>
			<p>Shared on {{ item.share_date|date:"M d, Y" }}</p>
			{% if item.type == 'stuff' %}
				{% if item.to_borrow %}
				    <p class="label label-default">Avaliable to borrow</p>
				{% endif %}
				{% if item.to_keep %}
				    <p class="label label-default">Avaliable to keep</p>
				{% endif %}
			{% endif %}
			<br style="clear:both;">
			<hr>
			<div class="text-info" style="font-size:1.1em;">
				{{ item.description|urlize|linebreaksbr }}
			</div>
			<hr>
			<p><strong>Item type:</strong> <span class="label label-primary">{{ item.type }}</span></p>
			<p>
				<strong>Item categories:</strong>
				{% for itemKeyword in item.itemkeyword_set.all %}
				    <span class="label label-info">{{ itemKeyword.keyword }}</span>
				{% endfor %}
			</p>
		</div>
		<div class="col-sm-4 well">
		    {% if current.member.id != sharer.id %}
				<h4>Shared by</h4>
				{% with participant=sharer %}
				    {% include 'core/blocks/participantgroup.html' %}
				{% endwith %}
				<br>
				<h4>Contact</h4>
				<dl class="dl dl-3">
					{% if sharer.email  %}
					   <dt>Email:</dt>
					   <dd>{{ sharer.email }}</dd>
					{% endif %}
					{% if sharer.full_address  %}
					   <dt>Full Address:</dt>
					   <dd>{{ sharer.full_address }}</dd>
					{% endif %}
				</dl><br>
				<a class="btn btn-primary" 
				        href="{% url 'pm:messages' sharer.id %}?msg=%5BRe%3A%20Item%20-%20{{ item.title|urlencode:'' }}]%0A{{ request.build_absolute_uri|urlencode:'' }}%0A%0A">                          
				    Request this item
				    <i class="fa fa-paper-plane-o"></i>
				</a>
			{% else %}
				<h4>Shared by you</h4>
				<hr style="clear:both;">
				<h4>Shared with</h4>
				{% if item.share_type == 'all_friends' %}
				    all friends
				{% elif item.share_type == 'all_friends_groups' %}
				    all friends and all groups
				{% elif item.share_type == 'custom' %}
				    Custom list:
				    <div style="height:300px;overflow-y:auto;">
					    {% for itemSharee in item.itemsharee_set.all %}
					        {% with participant=itemSharee.sharee %}
					            {% include 'core/blocks/participantgroup_fromobjects.html' %}
					        {% endwith %}
					    {% endfor %}
					</div>
				{% elif item.share_type == 'share_list' %}
					{{ item.sharelist.name }}
					<div style="height:300px;overflow-y:auto;">
					    {% for shareListSharee in item.sharelist.sharelistsharee_set.all %}
		                    {% with participant=shareListSharee.sharee %}
		                        {% include "core/blocks/participantgroup_fromobjects.html" %}
		                    {% endwith %}
		                {% endfor %}
		            </div>
				{% endif %}	
			{% endif %}
		</div>
	</div>
	
	
<div class="modal" id="share-by-email-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			    <h4 class="modal-title">Share by Email</h4>
			</div>
			<div class="modal-body">
				{% if item.public %}
					Use the following public link to share your item
					with friends who don't have VillageBuilder accounts:
					<br><br>
					
					<div class="form-group">
					    <input type="text" class="form-control" readonly
					    onclick="select()" value="{{ item.get_public_link }}" />
					    <span class="help-block">Click and CTRL-C to copy</span>
					</div>
				{% else %}
				    <p>
				        This will create a public link for your item that you can share with anyone,
				        whether they have a VillageBuilder account or not.
				    </p>
				    <button type="button" class="btn btn-default" id="btn-make-item-public">Create link</button>
				    <br><br>
				    <div class="form-group" id="item-public-link-div" style="display:none;">
					    <input type="text" class="form-control" id="item-public-link" readonly onclick="select()" />
					    <span class="help-block">Click and CTRL-C to copy</span>
					</div>
				{% endif %}
			  
			</div>
		</div>
	</div>
</div>


{% endblock %}	




