{% extends "core/bases/home_base.html" %}
{% load app_filters %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block subcontent %}

<h2>Shared With You</h2>
<div class="row" style="border-top:#C0C0C0 1px solid;border-bottom:#C0C0C0 1px solid;margin-bottom:10px;background-color:#FFEBD6;padding-top:10px;">
	<div class="col-md-1">		
		<h4>Filters</h4>
	</div>
	<div class="col-md-10">
	    <form method="get" action="{% url 'sharing:items' %}">
		    <div class="row">
				<div class="col-md-6">
				    <div class="form-group">
					    <input class="form-control" type="text" placeholder="search text..."
					        name="search_terms" 
					        {% if filters.search_terms %}value="{{ filters.search_terms }}"{% endif %}>
					</div>
				</div>
				<div class="col-md-3" style="padding-top:7px;">
				    <div class="radios">
				    	<label>
				            <input name="search_scope" value="title" type="radio"
				                {% if filters.search_scope == 'title' %}checked="checked"{% endif %} />
				            title only
				        </label>&nbsp;&nbsp;|&nbsp;&nbsp;
				        <label>
				            <input name="search_scope" value="desc" type="radio"
				                {% if filters.search_scope == 'desc' %}checked="checked"{% endif %} />
				            title and description
				        </label>
				    </div>
				</div>
				<div class="col-md-3" style="padding-top:7px;">
				    <div class="checkboxes">
				    	<label>
				            <input name="has_image" type="checkbox"
				                {% if filters.has_image %}checked="checked"{% endif %} />
				            has image
				        </label>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
				    <div class="form-group">
					    <label class="control-label">Category:</label>
					    <select class="form-control" name="category">
	    				    <option value="">(all)</option>
				            {% for key, keywords in categories.items %}
				                <option value="{{key|lower}}" {% if filters.category.lower == key.lower %}selected{% endif %}>
				                    {{ key }}
				                </option>
				                {% for keyword in keywords %}
					                <option value="{{keyword.0}}" 
					                    {% if filters.category.lower == keyword.0.lower %}selected{% endif %}>
					                    -- {{ keyword.1 }}
					                </option>
					            {% endfor %}
				            {% endfor %}
				        </select>
					</div>
				</div>
				<div class="col-md-3">
				    <div class="form-group">
					    <label class="control-label">Shared by friend:</label>
					    <select class="form-control" name="sharer">
					      <option value="">(all)</option>
				          {% for friend in friends %}
				              <option value="{{friend.id}}" {% if filters.sharer|add:"0" == friend.id %}selected{% endif %}>
				                  {{ friend.participant.get_name }}
				              </option>
				          {% endfor %}
				        </select>
					</div>
				</div>
				<div class="col-md-3">
				    <div class="form-group">
					    <label class="control-label">Shared through group:</label>
					    <select class="form-control" name="group">
				          <option value="">(all)</option>
				          {% for group in groups %}
				              <option value="{{group.id}}" {% if filters.group|add:"0" == group.id %}selected{% endif %}>
				                  {{ group.participant.get_name }}
				              </option>
				          {% endfor %}
				        </select>
					</div>
				</div>
				<div class="col-md-3" style="padding-top:24px;">
				    <a href="{% url 'sharing:items' %}" class="btn btn-default">Clear Filters</a>
				    <button type="submit" class="btn btn-success">Go <i class="fa fa-angle-double-right"></i></button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-2">
	<h5>Sort Order</h5>
	<a href="">Date (newest first)</a><br>
	<a href="">Date (oldest first)</a>
	</div>
	<div class="col-md-9">
		{% for item in items %}
		    {% include 'sharing/blocks/itemblock.html' %}
		{% endfor %}
	</div>
</div>


{% endblock %}