{% extends "core/bases/home_base.html" %}
{% load app_filters %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block subcontent %}


<script type="text/javascript">
	$(document).ready(function(){
		
		$('#share-list-select').change(function() {
			$('.share-list').hide();
			var displayDiv = '#share-list-' + $(this).val()
			$(displayDiv).slideDown();
		}).trigger('change');
		
	
	
	
	}); 
</script>








<div id="top-section">
	<div id="top-actions">
	    <div class="btn-group">
			<a href="{% url 'sharing:share_item' %}" class="btn btn-primary">Share Something</a>
			<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-caret-down"></i>&nbsp;</a>
			<ul class="dropdown-menu">
			    
				    <li><a href="{% url 'sharing:share_item' %}?type=skills">Skills</a></li>
				
				    <li><a href="{% url 'sharing:share_item' %}?type=stuff">Stuff</a></li>
				
				    <li><a href="{% url 'sharing:share_item' %}?type=space">Space</a></li>
				
			</ul>
		</div>
	</div>
	<h2 id="top-title">Items Shared by You</h2>
</div>


<div class="row">
	<div class="col-md-2">
		<h5>Sort Order</h5>
		Newest first
	</div>
	<div class="col-md-5">
	    <h5>Your Shared Items</h5>
		{% for item in items %}
		    {% include 'sharing/blocks/itemblock_withactions.html' %}
		{% endfor %}
	</div>
	<div class="col-md-5">
	    <h5>Your Share Lists</h5>
	    <div class="form-group">
			<select class="form-control" id="share-list-select">
			    <option> </option>
				{% for list in shareLists %}
				    <option value="{{ list.id }}">{{ list.name }}</option>
				{% endfor %}
			</select>
		</div>
		{% for list in shareLists %}
		    <div id="share-list-{{ list.id }}" class="share-list">
		        {% for shareListSharee in list.sharelistsharee_set.all %}
		        	{% with participant=shareListSharee.sharee %}
		                {% include 'core/blocks/participantgroup_fromobjects.html' %}
		        	{% endwith %}
		        {% endfor %}
		        <div style="text-align:right;padding:3px;">
		        	<a href="{% url 'sharing:edit_sharelist' list.id %}">
		        	    Edit this list <i class="fa fa-angle-double-right"></i>
		        	</a>
		        </div>
		    </div>
		{% endfor %}
	</div>
</div>


{% endblock %}