{% extends "core/bases/home_base.html" %}
{% load app_filters %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block subcontent %}


<script type="text/javascript">
	$(document).ready(function(){
		
		$('#share-list-select').change(function() {
			$('.share-list').hide();
			var displayDiv = '#share-list-' + $(this).val()
			$(displayDiv).slideDown();
		}).trigger('change');
		
	
	
	
	}); 
</script>








<div id="top-section">
	<div id="top-actions">
		<div class="btn-group">
			<a href="{% url 'sharing:share_item' %}?type=stuff" class="btn btn-success">Share Something</a>
			<a href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-caret-down"></i>&nbsp;</a>
			<ul class="dropdown-menu">
			    {% for category in shareCategories %}
				    <li>
				    	<a href="{% url 'sharing:share_item' %}?type={{ category.0 }}">
				    		<span style="display:inline-block; width: 200px;">Share {{ category.1 }}</span>
				    		<i class="fa fa-plus"></i>
				    	</a>
				    </li>
				{% endfor %}
				<li>
					<a href="{% url 'sharing:quick_share' %}">
						<span style="display:inline-block; width: 200px;">Quick Share Common Items</span>
						<i class="fa fa-list-ul"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<h2 id="top-title">Items Shared by You</h2>
</div>


<div class="row">
	<div class="col-md-2">
		<h5>Sort Order</h5>
		Newest first
	</div>
	<div class="col-md-5">
	    <h5>Your Shared Items</h5>
		{% for item in items %}
		    {% include 'sharing/blocks/itemblock_withactions.html' %}
		{% empty %}
		    <p>You are not sharing any items yet.</p>
		    <p>Use the 
		    <a href="{% url 'sharing:quick_share' %}">quick share common items tool</a>
			or share individual items on the 
			<a href="{% url 'sharing:share_item' %}?type=stuff">share something</a> page.</p>
		{% endfor %}
	</div>
	<div class="col-md-5">
	    <h5>Your Share Lists</h5>
	    <div class="form-group">
			<select class="form-control" id="share-list-select">
			    <option> </option>
				{% for list in shareLists %}
				    <option value="{{ list.id }}">{{ list.name }}</option>
				{% endfor %}
			</select>
		</div>
		{% for list in shareLists %}
		    <div id="share-list-{{ list.id }}" class="share-list">
		        {% for shareListSharee in list.sharelistsharee_set.all %}
		        	{% with participant=shareListSharee.sharee %}
		                {% include 'core/blocks/participantgroup_fromobjects.html' %}
		        	{% endwith %}
		        {% endfor %}
		        <div style="text-align:right;padding:3px;">
		        	<a href="{% url 'sharing:edit_sharelist' list.id %}">
		        	    Edit this list <i class="fa fa-angle-double-right"></i>
		        	</a>
		        </div>
		    </div>
		{% endfor %}
		<div style="padding-top:20px">
			<a href="#" data-toggle="modal" data-target="#creating-sharelist-modal">
			    <i class="fa fa-question-circle"></i> How do I create a new share list?
			</a>
		</div>
	</div>
</div>

<div class="modal" id="creating-sharelist-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title">Creating Share Lists</h4>
      </div>
      <div class="modal-body">
        <p>
            To create a new share list, 
            <a href="{% url 'sharing:share_item' %}">share a new item</a>
            and select a custom list of people to share with.
            When you submit the item, you will be asked if you want
            to save your custom list as a share list.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="share-by-email-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			    <h4 class="modal-title">Share by Email</h4>
			</div>
			<div class="modal-body">
			    <p>
			        This will create a public link for your item that you can share with anyone,
			        whether they have a VillageBuilder account or not.
			    </p>
			  <form method="post" action="">
			  	  <button type="button" class="btn btn-default">Create link</button>
			 	  </form>
			  <div id="item-public-link"></div>
			</div>
		</div>
	</div>
</div>


{% endblock %}