{% extends "core/bases/home_base.html" %}
{% load app_filters %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block subcontent %}

<h2>Items Shared by You</h2>

<div class="row">
	<div class="col-md-2">
	<h5>Sort Order</h5>
	<a href="">Date (newest first)</a><br>
	<a href="">Date (oldest first)</a>
	</div>
	<div class="col-md-9">
		{% for item in items %}
		    <div style="overflow:hidden;clear:both;">
			    <img src="{{ item.get_thumb }}" alt="" width="50" height="50" 
			            style="float:left;margin-right:10px;" />
			    <span class="text-muted">{{ item.share_date|date:"M d, Y" }} | </span>
			    <a href="">{{ item.title }}</a><br>
			    Shared by <a href="{% url 'account:view' item.sharer.id %}">{{ item.sharer.participant.get_name }}</a>
		    </div>
		    <hr>
		{% endfor %}
	</div>
</div>


{% endblock %}