{% extends "core/bases/logged_out_base.html" %}
{% load app_filters %}
{% load widget_tweaks %}

{% block subcontent %}

<div id="top-section">
	<h2 id="top-title">Shared Item</h2>
</div>
	
	<div class="row">
    	<div class="col-sm-7">
    	    <img src="{{ item.get_image }}" alt="" width="250" height="250" 
    	            style="float:left;margin-right:10px;">
			<h1>{{ item.title }}</h1>
			<p>Shared on {{ item.share_date|date:"M d, Y" }}</p>
			{% if item.type == 'stuff' %}
				{% if item.to_borrow %}
				    <p class="label label-default">Avaliable to borrow</p>
				{% endif %}
				{% if item.to_keep %}
				    <p class="label label-default">Avaliable to keep</p>
				{% endif %}
			{% endif %}
			<br style="clear:both;">
			<hr>
			<div class="text-info" style="font-size:1.1em;">
				{{ item.description|urlize|linebreaksbr }}
			</div>
			<hr>
			<p><strong>Item type:</strong> <span class="label label-primary">{{ item.type }}</span></p>
			<p>
				<strong>Item categories:</strong>
				{% for itemKeyword in item.itemkeyword_set.all %}
				    <span class="label label-info">{{ itemKeyword.keyword }}</span>
				{% endfor %}
			</p>
		</div>
		<div class="col-sm-4 well">
			<h4>Shared by</h4>
			{% with participant=sharer %}
			    {% include 'core/blocks/participantgroup_noactions.html' %}
			{% endwith %}
			<br>
			<h4>Request this item</h4>
			<p>
				To request this item, you can contact {{ item.sharer.participant.get_first_name }} directly.
			</p>
			<p> 
				You can also <a href="{% url 'account:account_info' %}">create an account</a>
				to connect with {{ item.sharer.participant.get_first_name }} on VillageBuilder.
			</p>
		</div>
	</div>

{% endblock %}	




