{% extends "core/bases/home_base.html" %}
{% load app_filters %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block subcontent %}

<script type="text/javascript">

	function updatePageAfterImageUpload(data) {
		console.log(data)
		$('#id_image').val(data.image.file);
		$('#id_thumb').val(data.thumb.file);
		$("#item-pic").attr("src", data.image.path);
	}
	
	var dataToAccompanyImageUpload = {}
	var imageUploadUrl = '{% url 'sharing:upload_image' %}'
	
	var defaultImage = '{% static "img/generic-item.png" %}';


    
</script>

{% include 'core/modals/upload_tool.html' %}

<script type="text/javascript">

$(document).ready(function(){
	
	
	
	$('#id_sharingWith').change(function() {
		var value = $(this).val()
		if (value == 'custom') {
			$('#custom-friends-form').slideDown();
		} else {
			$('#custom-friends-form').hide();
		}
		$('.share-list').hide();
		if (value != 'all_friends' && value != 'all_friends_groups' && value != 'custom') {
			$('#share-list-' + value).slideDown();
		}
	}).trigger("change");
	
	$('#fake-submit').click(function() {
		if ($('#id_sharingWith').val() == 'custom') {
			$('#save-sharelist-modal').modal('show');
		} else {
			$('#main-form').submit();
		}
	});
	
	$('input[name=createShareList]').click(function() {
		if($('#id_createShareList_1').is(':checked')) {
			$('#new-share-list-name').slideDown();
		} else {
			$('#new-share-list-name').slideUp();
		}
		if ( $('#id_shareListName').val() == '' && $('#id_createShareList_1').is(':checked')) {
    		$('#continue-submission').prop("disabled",true);
    	} else {
    		$('#continue-submission').prop("disabled",false);
    	}
	});
	
	if($('#id_createShareList_1').is(':checked')) {
		$('#new-share-list-name').show();
	}
	
	$('#id_shareListName').on("change keyup paste", function() {
    	if ( $(this).val() == '' && $('#id_createShareList_1').is(':checked')) {
    		$('#continue-submission').prop("disabled",true);
    	} else {
    		$('#continue-submission').prop("disabled",false);
    	}
    }).trigger("change");
	
	$('#id_type').change(function() {
		//show or hide keyword options for item
		var keywordBlockId = '#keywords_' + $(this).val().toLowerCase();
		$('.keyword_block').hide();
		$(keywordBlockId).slideDown();
		//show or hide type-specific options
		if ( $(this).val().toLowerCase() == 'stuff' ) {
			$('#stuff-special-options').slideDown();
		} else {
			$('#stuff-special-options').hide();
		}
	}).trigger("change");


}); 


</script>


<div id="top-section">
	<div id="top-actions">
		{% if item %}
		    <button type="button" id="fake-submit" class="btn btn-success">Save Changes</button>&nbsp;
		    <a href="{% url 'sharing:item' item.id %}" class="btn btn-default">Exit Without Changing</a>&nbsp;
		    <a href="#" data-toggle="modal" data-target="#delete-item-modal" class="btn btn-danger">
		        <i class="fa fa-trash-o"></i> Delete Item
		    </a>
		    
		{% else %}
			<span class="text-warning">
		    	<i class="fa fa-exclamation-triangle"></i>
		    	By sharing an item, you agree to our 
		    	<a href="#" data-toggle="modal" data-target="#sharing-policies-modal">sharing policies</a>.
		    </span>
		    &nbsp;&nbsp;
		    <button type="button" id="fake-submit" class="btn btn-success">
		        Share Item <i class="fa fa-share-alt"></i>
		    </button>
		{% endif %}
	</div>
	<h2 id="top-title">Share Something</h2>
</div>

<form action="{{ callback }}" method="post" id="main-form">
<div style="display:none;">
	{% csrf_token %}
	{{ itemForm.image }}
	{{ itemForm.thumb }}
</div>
	<div class="row">
	    <div class="col-md-4">
		    {{ itemForm.non_field_errors }}
		    <div class="form-group">
	            {{ itemForm.title|label_with_classes:"control-label" }} 
	            {{ itemForm.title|attr:"class:form-control" }}
            </div>
            <div id="form-errors" class="text-danger">{{ itemForm.title.errors }}</div>
		    <div class="form-group">
	            {{ itemForm.type|label_with_classes:"control-label" }} 
	            {{ itemForm.type|attr:"class:form-control" }}
            </div>
            <div style="display:none;" id="stuff-special-options">
	            <label class="control-label">Options: &nbsp;&nbsp;
		                <span class="text-muted">(select any that apply or other)</span></label>
	            <div class="checkbox">
					<label>
		            	{{ itemForm.to_borrow }} {{ itemForm.to_borrow.label }}
		            </label>&nbsp;&nbsp;&nbsp;&nbsp;
		            <label>
		            	{{ itemForm.to_keep }} {{ itemForm.to_keep.label }}
		            </label> 
		        </div>
		        <hr>
		    </div>
            <div id="form-errors" class="text-danger">{{ itemForm.type.errors }}</div>
            {% for field in keywordForm %}
                <div id="{{ field.html_name }}" class="keyword_block" style="display:none;">
	                <label class="control-label">Categories: &nbsp;&nbsp;
	                <span class="text-muted">(select any that apply or other)</span></label>
		            <div class="checkbox" style="overflow: hidden;">
			            {% for checkbox in field %}
			                <div class="well well-sm" style="float:left;margin-right:10px;">
				            	{{ checkbox }}
				            </div>
				        {% endfor %}
			        </div>
		        </div>
		    {% endfor %}
		</div>
		<div class="col-md-4">
		    <div>
		        <label class="control-label">Picture:</label><br>
		        <img id="item-pic" src="{{ itemImage  }}" 
					        alt="User Pic" width="150" height="150"
					        style="margin-right:10px;" />
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#upload-pic-modal">
					Upload Picture
				</button>
			</div>
			<hr>
            <div class="form-group">
	            {{ itemForm.description|label_with_classes:"control-label" }} 
	            {{ itemForm.description|attr:"class:form-control" }}
            </div>
            <div id="form-errors" class="text-danger">{{ itemForm.description.errors }}</div>
        </div>
        <div class="col-md-4">
	        <div class="form-group">
	            {{ itemForm.sharingWith|label_with_classes:"control-label" }} 
	            {{ itemForm.sharingWith|attr:"class:form-control" }}
            </div>
            <div id="form-errors" class="text-danger">{{ itemForm.sharingWith.errors }}</div>
            {% for shareList in shareLists %}
	            <div class="well share-list" id="share-list-{{ shareList.id }}" style="display:none;">
	                <strong class="text-primary">{{ shareList.name }}:</strong>
	                {% for shareListSharee in shareList.sharelistsharee_set.all %}
	                    {% with participant=shareListSharee.sharee %}
	                        {% include "core/blocks/participantgroup_fromobjects.html" %}
	                    {% endwith %}
	                {% endfor %}
	            </div>
            {% endfor %}
		    <div class="well" id="custom-friends-form" style="display:none;margin:0 10px;">
		    	<h4>Custom list - Select who to share with:</h4>
		        <div style="height:300px;overflow-y:auto;border:#C0C0C0 solid 1px;padding-top:5px;">
		        	<strong class="text-primary">Your Friends:</strong>
		        	<div>
					    {% for participant in friends %}
			        			<div class="col-sm-9">
					        		{% include "core/blocks/participantgroup_noactions.html" %}
					        	</div>
					        	<div class="col-sm-3" style="padding-top:20px;">
					        		{% if item.share_type == 'custom' and participant.id in sharees %}
					        			<input type="checkbox" name="custom_list[]" value="{{participant.id}}" checked="checked" />
					        			include
					        		{% else %}
					        		    <input type="checkbox" name="custom_list[]" value="{{participant.id}}" />
					        		    include
					        		{% endif %}
					        </div>		
					    {% endfor %}
					</div>
			    </div>
			    <div style="height:300px;overflow-y:auto;border:#C0C0C0 solid 1px;padding-top:5px;">
			    	<strong class="text-primary">Your Groups:</strong>
				    {% for participant in groups %}
				        <div>
		        			<div class="col-sm-9">
				        		{% include "core/blocks/participantgroup_noactions.html" %}
				        	</div>
				        	<div class="col-sm-3" style="padding-top:20px;">
				        		{% if item.share_type == 'custom' and participant.id in sharees %}
				        			<input type="checkbox" name="custom_list[]" value="{{participant.id}}" checked="checked" />
				        			include
				        		{% else %}
				        		    <input type="checkbox" name="custom_list[]" value="{{participant.id}}" />
				        		    include
				        		{% endif %}
				        	</div>
				        </div>		
				    {% endfor %}
			    </div>
		    </div>
		</div>
	</div>

	<div class="modal" id="save-sharelist-modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
	        <h4 class="modal-title">Save Share List?</h4>
	      </div>
	      <div class="modal-body">
	        <p>You are sharing this item with a custom list of people.  Would you like to save these people
	        in a Share List that you can reuse in the future?</p>
	        {% for radio in itemForm.createShareList %}
	            <div class="radio">
	                {{ radio }}
	            </div>
	        {% endfor %}
	        <div class="form-group" id="new-share-list-name" style="display:none;">
			  {{ itemForm.shareListName|label_with_classes:"control-label" }}
			  <input class="form-control" id="{{ itemForm.shareListName.id_for_label }}" 
			          name="{{ itemForm.shareListName.html_name }}"
			          placeholder="ex: close friends, neighbors, friends with kids, woodworking buddies" type="text">
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="submit" class="btn btn-primary" id="continue-submission">Continue</button>
	      </div>
	    </div>
	  </div>
	</div>
</form>

<div class="modal" id="sharing-policies-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title">VillageBuilder Sharing Policies</h4>
      </div>
      <div class="modal-body">
        {% include 'sharing/blocks/sharing_policies.html' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="delete-item-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title">Delete Item</h4>
      </div>
      <div class="modal-body">
        Do you really want to delete the item "{{ item.title }}"?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <form method="post" action="{% url 'sharing:delete_item' %}">
        	{% csrf_token %}
        	<input type="hidden" name="item_id" value="{{ item.id }}" />
        	<button type="submit" class="btn btn-danger">Delete Item</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}