{% extends "core/bases/base.html" %}
{% load app_filters %}
{% load widget_tweaks %}

{% block content %}

    <style>
	body {
		background-color: #808080;
		margin-bottom: 30px;
	}
	</style>
    
    <div class="container-fluid" style="max-width:1280px;background-color:#FFF;">
        <div class="page-header">
	    	<h1>
	    	    <span style="font-size:1.3em;letter-spacing:2px;"><!-- 
	    	    --><i class="fa fa-share-alt-square fa-rotate-270"></i><!-- 
	    	    --></span>illag<span style="letter-spacing:-2px;">e</span><span style="color:#29A329;"><!-- 
	    	    --><span style="font-size:1.2em;letter-spacing:-3px;">B</span><!-- 
	    	    -->uilder</span>
	    	</h1>
	    	<p class="lead">a social network for sharing resources</p>
	    </div>
	    {% if messages or successMessage or errorMessage %}
    	    <div class="row">
    	        <div class="col-md-10 col-md-offset-1">
                    {% include 'core/blocks/notifications.html' %}
                    
                </div>
            </div>
        {% endif %}
        {% block subcontent %}{% endblock %}
        {% include 'core/blocks/footer.html' %}
    </div>
    
    

{% endblock %}