{% extends "core/bases/base.html" %}
{% load app_filters %}
{% load widget_tweaks %}

{% block content %}
    
    <div class="container-fluid" style="max-width:1280px;">
        <div class="page-header">
	    	<h1>Village Builder :)</h1>
	    	<p class="lead">share resources with friends and neighbors</p>
	    </div>
	    {% if messages or successMessage or errorMessage %}
    	    <div class="row">
    	        <div class="col-md-10 col-md-offset-1">
                    {% include 'core/blocks/notifications.html' %}
                    
                </div>
            </div>
        {% endif %}
        {% block subcontent %}{% endblock %}
        {% include 'core/blocks/footer.html' %}
    </div>
    
    

{% endblock %}