{% extends "core/bases/base.html" %}
{% load app_filters %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}

    <style>
	body {
		background-color: #808080;
		margin-bottom: 30px;
	}
	</style>
    
    <div class="container-fluid" style="max-width:1280px;background-color:#FFF;">
        <div class="row" style="padding:15px 15px 7px 15px;">
	        <div class="col-md-7">
	        	<a href="{% url 'home' %}">
			 		<img src="{% static 'img/vb-large.png' %}" alt="VillageBuilder" width="358" height="47" /> 
			 	</a>
			 	<div style="font-size:18px;color:#585858;">
			 	    share resources with friends and neighbors
			 	</div>
			</div>
	 	</div>
	 	<hr>
	    {% if messages or successMessage or errorMessage %}
    	    <div class="row">
    	        <div class="col-md-10 col-md-offset-1">
                    {% include 'core/blocks/notifications.html' %}
                    
                </div>
            </div>
        {% endif %}
        <div style="min-height:60vh;padding-bottom:50px;">
        	{% block subcontent %}{% endblock %}
        </div>
    </div>
    <div style="max-width:1280px;margin:0 auto;">
    {% include 'core/blocks/footer.html' %}
    </div>
    
    

{% endblock %}