{% extends "core/bases/base.html" %}
{% load app_filters %}
{% load widget_tweaks %}

{% block content %}

<h1> Reset Password</h1>

{{message}}

<form method="post" action="{% url 'reset_password' code %}">
    {% csrf_token %}
    {% for field in form %}
	    <div class="form-group">
	        {{ field.errors }}
		    {{ field|label_with_classes:"control-label" }}
			{{ field|attr:"class:form-control" }}
		</div>
	{% endfor %}

    <button type="submit" class="btn btn-primary" value="Login">Submit</button>
</form>

{% endblock %}