{% extends "core/bases/logged_out_base.html" %}
{% load app_filters %}
{% load widget_tweaks %}

{% block subcontent %}

<script type="text/javascript">
    {% include "account/js/account_info.js" %}
</script>

    {% include "account/blocks/create-account-nav.html" %}<br>
	<div class="row">
		<div class="col-md-4">
			<form action="{{ callback }}" method="post" id="main-form">
			    {% csrf_token %}
			    {{ form.non_field_errors }}
			    {% for field in form %}
			        <div class="form-group">
			            {{ field|label_with_classes:"control-label" }} 
			            {{ field|attr:"class:form-control" }}
			            {% if field.id_for_label == "id_last_name" %}
				            <a href="#" data-toggle="modal" data-target="#name-privacy-modal" class="text-warning"> 
				                <i class="fa fa-question-circle"></i> Why do you need my name?
			                </a>
			            {% endif %}
			            {% if field.id_for_label == "id_password" %}
				            <span class="text-muted">minimum 8 characters</span>
			            {% endif %}
		            </div>
		            <div id="form-errors" class="text-danger">{{ field.errors }}</div>
			    {% endfor %}
			    <input type="hidden" name="redirect-url" value="" />
			    <button type="submit" class="btn btn-primary">Submit <i class="fa fa-angle-double-right"></i></button>
			</form>
		</div>
	</div>


	
	
	<div class="modal" id="name-privacy-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			    <h4 class="modal-title">Name Privacy</h4>
			</div>
			<div class="modal-body">
			    <p>
			    	Your name is public and enables friends to find you.
			    	We recommend entering your full real name.
			    	You should only enter a nickname if it's something that friends will recognize.
			    </p>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}