{% extends "core/bases/home_base.html" %}
{% load app_filters %}
{% load widget_tweaks %}

{% block subcontent %}


	
	<div class="row">
    	<div class="col-sm-7">
    	    <img src="{{ account.image }}" alt="" width="250" height="250" 
    	            style="float:left;margin-right:10px;">
			<h1>{{ account.name }}</h1>
			<p>{{ account.display_address }}</p>
			<hr>
			{% include 'account/blocks/account_view_actions.html' %}
		</div>
		<div class="col-sm-4 well">
			<h4>Contact Info</h4>
			{% if account.relationship == RelationshipTypes.SELF %}
			    <div class="alert alert-success">
				  Your contact info is only visible to friends.
				</div>
			{% endif %}
			{% if account.type == 'group' %}
			    Owner: {{ account.owner.id }} {{ account.owner.name }}
			{% endif %}
			<dl class="dl dl-3">
				{% if account.email  %}
				   <dt>Email:</dt>
				   <dd>{{ account.email }}</dd>
				{% endif %}
				{% if account.full_address  %}
				   <dt>Full Address:</dt>
				   <dd>{{ account.full_address }}</dd>
				{% endif %}
				{% if account.phone  %}
				   <dt>Phone:</dt>
				   <dd>{{ account.phone }}</dd>
				{% endif %}
			</dl><br>
			<button class="btn btn-primary">Send a Message <i class="fa fa-paper-plane"></i></button>
		</div>
	</div>
    <hr>
    <ul class="nav nav-tabs">
		{% if account.type == 'member' %}
		    <li class="active"><a href="#relations" data-toggle="tab">Friends</a></li>
		{% endif %}
		{% if account.type == 'group' %}
		    <li class="active"><a href="#relations" data-toggle="tab">Members</a></li>
		    <li><a href="#about" data-toggle="tab">About</a></li>
		{% endif %}
		<li><a href="#items" data-toggle="tab">Shared Items</a></li>
	</ul>
	<div id="myTabContent" class="tab-content well">

	  <div class="tab-pane fade active in" id="relations">
	      <div class="row" style="margin-top:20px;">
	          <div class="col-sm-4 col-sm-offset-1">
			      {% for participant in relations %}
			          {% include 'core/blocks/participantgroup.html' %}
			      {% endfor %}
		      </div>
	      </div>
	  </div>

	  {% if account.type == 'group' %}
	  	  <div class="tab-pane fade" id="about">
		      {{ account.description|linebreaksbr|urlize }}
		  </div>
	  {% endif %}
	  <div class="tab-pane fade" id="items">
	    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
	  </div>
</div>

{% endblock %}	




