{% extends "core/bases/home_base.html" %}
{% load app_filters %}
{% load widget_tweaks %}

{% block subcontent %}


<div id="top-section">
	<h2 id="top-title">{% if account.type == 'group' %}Group {% endif %}Profile</h2>
</div>

	
	<div class="row">
    	<div class="col-sm-7">
    	    <img src="{{ account.image }}" alt="" width="250" height="250" 
    	            style="float:left;margin-right:10px;">
			<h1>{{ account.name }}</h1>
			<p>{{ account.full_display_address }}</p>
			<hr>
			{% include 'account/blocks/account_view_actions.html' %}
		</div>
		<div class="col-sm-4 well">
			<h4>Contact Info</h4>
			{% if account.relationship == RelationshipTypes.SELF %}
			    <div class="alert alert-success">
				  Your contact info is only visible to friends.
				</div>
			{% endif %}
			{% if account.type == 'group' %}
			    Owner: <a href="{% url 'account:view' account.owner.id %}">{{ account.owner.name }}</a>
			{% endif %}
			<dl class="dl dl-3">
				{% if account.email  %}
				   <dt>Email:</dt>
				   <dd>{{ account.email }}</dd>
				{% endif %}
			</dl><br>
			{% if account.relationship == RelationshipTypes.FRIENDS %}
				<a class="btn btn-primary" href="{% url 'pm:messages' account.id %}">
				    Send a Message <i class="fa fa-paper-plane"></i>
				</a>
			{% endif %}
			{% if account.relationship == RelationshipTypes.GUEST_FRIENDS %}
				<a class="btn btn-primary" href="{% url 'pm:messages' account.id %}">
				    Send a Message <i class="fa fa-paper-plane"></i>
				</a>
			{% endif %}
			{% if account.relationship == RelationshipTypes.REQUEST_SENT %}
				<a class="btn btn-primary" href="{% url 'pm:messages' account.id %}">
				    Send a Message <i class="fa fa-paper-plane"></i>
				</a>
			{% endif %}
		</div>
	</div>
    <hr>
    <ul class="nav nav-tabs">
		{% if account.type == 'member' %}
		    <li class="active"><a href="#relations" data-toggle="tab">Friends</a></li>
		    <li><a href="#items" data-toggle="tab">Shared With You</a></li>
		{% endif %}
		{% if account.type == 'group' %}
		    <li class="active"><a href="#relations" data-toggle="tab">Members</a></li>
		    <li><a href="#about" data-toggle="tab">About</a></li>
		    <li><a href="#items" data-toggle="tab">Shared With You</a></li>
		{% endif %}
	</ul>
	<div id="myTabContent" class="tab-content well">

	  <div class="tab-pane fade active in" id="relations">
	      <div class="row" style="margin-top:20px;">
	          <div class="col-sm-4 col-sm-offset-1">
			      {% for participant in relations %}
			          {% include 'core/blocks/participantgroup.html' %}
			      {% empty %}
			          none
			      {% endfor %}
		      </div>
	      </div>
	  </div>

	  {% if account.type == 'group' %}
	  	  <div class="tab-pane fade" id="about">
		      {{ account.description|urlize|linebreaksbr }}
		  </div>
	  {% endif %}
	  <div class="tab-pane fade" id="items">
	      <div class="row" style="margin-top:20px;">
	          <div class="col-sm-4 col-sm-offset-1">
			      {% for item in items %}
			          {% include 'sharing/blocks/itemblock.html' %}
			      {% empty %}
			          nothing to see here
			      {% endfor %}
			  </div>
	      </div>
	  </div>
</div>

{% endblock %}	




