{% extends "core/bases/home_base.html" %}
{% load app_filters %}
{% load widget_tweaks %}

{% block subcontent %}

<script type="text/javascript">
	{% include "account/js/account.js" %}
	{% include "account/js/account_address.js" %}
</script>


{% include "core/modals/upload_tool.html" %}

<div class="modal" id="full-address-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title">Set Address</h4>
      </div>
      <div class="modal-body">
          {% include "core/blocks/map.html" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<form action="{{ callback }}" method="post">
	<div class="modal" id="delete-account-modal">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
	        <h4 class="modal-title">Delete Account</h4>
	      </div>
	      <div class="modal-body">
	            {% csrf_token %}
	            This will <strong class="text-danger">permanently</strong> delete your account and all items associated with your account.
	            Are you sure you want to continue?
	            <input type="hidden" name="form-name" value="deleteAccountForm" />
	      </div>
	      <div class="modal-footer">
	        <input type="submit" class="btn btn-danger" value="Delete Account" />
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
	      </div>
	    </div>
	  </div>
	</div>
</form>


	<div id="top-section">
		<h2 id="top-title">Account Settings for {{ current.user.get_full_name }}</h2>
	</div>
	<hr>
	<div class="row">
	    <div class="col-md-6">
		    <div class="list-group">
		        <div class="list-group-item" id="email-view" {% if showEditView == 'userEmailForm' %}style="display:none;"{% endif %}>
			        <a href="#" class="badge" id="email-edit-btn">Edit</a>
			        <dl class="dl dl-3">
			            <dt>Email</dt>
			            <dd>{{ userEmailDisplay.email.value }}</dd>
			        </dl>     
			    </div>
			    <div class="list-group-item" id="email-edit" {% if showEditView != 'userEmailForm' %}style="display:none;"{% endif %}>
			        <a href="#" class="badge" id="email-close-btn">Close</a>
			        <form action="{{ callback }}" method="post">
			            {% csrf_token %}
			            <input type="hidden" name="form-name" value="userEmailForm" />
				        {% for field in userEmailForm %}
					        {% include 'core/blocks/formgroup.html' %}
				        {% endfor %}
				        <input type="submit" class="btn btn-primary" value="Save Changes" />
				    </form>
			    </div>
			    <div class="list-group-item" id="password-view" {% if showEditView == 'userPasswordForm' %}style="display:none;"{% endif %}>
			        <a href="#" class="badge" id="password-edit-btn">Edit</a>
			        <dl class="dl dl-3">
			            <dt>Password</dt>
			            <dd>********</dd>
			        </dl>     
			    </div>
			    <div class="list-group-item" id="password-edit" {% if showEditView != 'userPasswordForm' %}style="display:none;"{% endif %}>
			        <a href="#" class="badge" id="password-close-btn">Close</a>
			        <form action="{{ callback }}" method="post">
			            {% csrf_token %}
			            <input type="hidden" name="form-name" value="userPasswordForm" />
				        {% for field in userPasswordForm %}
					        {% include 'core/blocks/formgroup.html' %}
				        {% endfor %}
				        <input type="submit" class="btn btn-primary" value="Save Changes" />
				    </form>
			    </div>
			    <div class="list-group-item" id="name-view" {% if showEditView == 'userNameForm' %}style="display:none;"{% endif %}>
			        <a href="#" class="badge" id="name-edit-btn">Edit</a>
			        <dl class="dl dl-3">
			            <dt>Name</dt>
			            <dd>{{ userNameDisplay.first_name.value }} {{ userNameDisplay.last_name.value }}</dd>
			        </dl>     
			    </div>
			    <div class="list-group-item" id="name-edit" {% if showEditView != 'userNameForm' %}style="display:none;"{% endif %}>
			        <a href="#" class="badge" id="name-close-btn">Close</a>
			        <form action="{{ callback }}" method="post">
			            {% csrf_token %}
			            <input type="hidden" name="form-name" value="userNameForm" />
				        {% for field in userNameForm %}
					        {% include 'core/blocks/formgroup.html' %}
				        {% endfor %}
				        <input type="submit" class="btn btn-primary" value="Save Changes" />
				    </form>
			    </div>
			    <div class="list-group-item" id="privacy-view" {% if showEditView == 'memberPrivacyForm' %}style="display:none;"{% endif %}>
			        <a href="#" class="badge" id="privacy-edit-btn">Edit</a>
			        <dl class="dl dl-3">
			            <dt>Privacy</dt>
			            <dd>
			                {% if memberPrivacyDisplay.share_email.value %}
			                    sharing email with friends<br>
			                {% endif %}
			                {% if memberPrivacyDisplay.share_address.value %}
			                    sharing address with friends<br>
			                {% endif %}
			            </dd>
			        </dl>     
			    </div>
			    <div class="list-group-item" id="privacy-edit" {% if showEditView != 'memberPrivacyForm' %}style="display:none;"{% endif %}>
			        <a href="#" class="badge" id="privacy-close-btn">Close</a>
			        <form action="{{ callback }}" method="post">
			        	<label>Privacy Settings:</label>
			            {% csrf_token %}
			            <input type="hidden" name="form-name" value="memberPrivacyForm" />
				        {% for field in memberPrivacyForm %}
					        {% include 'core/blocks/formgroup.html' %}
				        {% endfor %}
			        	<input type="submit" class="btn btn-primary" value="Save Changes" />
			        </form>
			    </div>
			    <div class="list-group-item" id="email-preferences-view" {% if showEditView == 'memberEmailForm' %}style="display:none;"{% endif %}>
			        <a href="#" class="badge" id="email-preferences-edit-btn">Edit</a>
			        <dl class="dl dl-3">
			            <dt>Email Preferences</dt>
			            <dd>
			                {% for field in memberEmailDisplay %}
			                    {{ field.label }} :
			                    <span class="text-primary">
			                    {% if field.value == 0 %}
			                    	no email
			                   	{% elif field.value == 1 %}
			                   	    daily digest
			                   	{% else %}
			                   	    immediate
			                   	{% endif %}
			                    </span><br>
			                {% endfor %}
			            </dd>
			        </dl>     
			    </div>
			    <div class="list-group-item" id="email-preferences-edit" {% if showEditView != 'memberEmailForm' %}style="display:none;"{% endif %}>
			        <a href="#" class="badge" id="email-preferences-close-btn">Close</a>
			        <form action="{{ callback }}" method="post">
			        	<label>Email Settings:</label>
			            {% csrf_token %}
			            <input type="hidden" name="form-name" value="memberEmailForm" />
				        {% for field in memberEmailForm %}
					        {% include 'core/blocks/formgroup.html' %}
				        {% endfor %}
			        	<input type="submit" class="btn btn-primary" value="Save Changes" />
			        </form>
			    </div>
			    <div class="list-group-item" id="full-address-view">
			        <a href="#" class="badge" id="full-address-edit-btn" data-toggle="modal" data-target="#full-address-modal">Edit</a>
			        <dl class="dl dl-3">
			            <dt>Location</dt>
			            <dd>
			                **********{{ addressForm.full_address.value|slice:"10:" }}
	                    </dd>
			        </dl> 
			        <div style="display:none;">
			        	<form action="{{ callback }}" method="post" name="address-form">
				            {% csrf_token %}
				            <input type="hidden" name="form-name" value="addressForm" />
					        {% for field in addressForm %}
						        {% include 'core/blocks/formgroup.html' %}
					        {% endfor %}
					        <input type="submit" class="btn btn-primary" value="Save Changes" />
					    </form>
			        </div>    
			    </div>
			    <div class="list-group-item" id="display-address-view" {% if showEditView == 'memberDisplayAddressForm' %}style="display:none;"{% endif %}>
			        <a href="#" class="badge" id="display-address-edit-btn">Edit</a>
			        <dl class="dl dl-3">
			            <dt>Display Address</dt>
			            <dd>
			            	{% if memberDisplayAddressForm.neighborhood.value %}
			            	    {{ memberDisplayAddressForm.street.value }} ({{ memberDisplayAddressForm.neighborhood.value }})
			            	{% else %}
			            		{{ memberDisplayAddressForm.street.value }} ({{ memberDisplayAddressForm.city.value }})
			            	{% endif %}
			            </dd>
			        </dl>     
			    </div>
			    <div class="list-group-item" id="display-address-edit" {% if showEditView != 'memberDisplayAddressForm' %}style="display:none;"{% endif %}>
			        <a href="#" class="badge" id="display-address-close-btn">Close</a>
					<div class="alert alert-warning">
					  <p>If you've moved please update your <a href="#" data-toggle="modal" data-target="#full-address-modal">location</a>
			           first so the system will know where you are.</p>
					</div>
			        <form action="{{ callback }}" method="post">
			            {% csrf_token %}
			            <input type="hidden" name="form-name" value="memberDisplayAddressForm" />
				        {% for field in memberDisplayAddressForm %}
					        {% include 'core/blocks/formgroup.html' %}
				        {% endfor %}
				        <input type="submit" class="btn btn-primary" value="Save Changes" />
				    </form>
			    </div>
			    <div class="list-group-item" id="account-status-view" {% if showEditView == 'accountStatusForm' %}style="display:none;"{% endif %}>
			        <a href="#" class="badge" id="account-status-edit-btn">Edit</a>
			        <dl class="dl dl-3">
			            <dt>Account Status</dt>
			            <dd>
			            	Active
			            </dd>
			        </dl>     
			    </div>
			    <div class="list-group-item" id="account-status-edit" {% if showEditView != 'accountStatusForm' %}style="display:none;"{% endif %}>
			        <a href="#" class="badge" id="account-status-close-btn">Close</a>
			            <label>Account Actions:</label><br>
				        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-account-modal">
				            Permanently Delete Account
				        </button>
			    </div>
			</div>
		</div>
		<div class="col-md-4 col-md-offset-1">
		    <div class="list-group">
				<div class="list-group-item" id="user-pic-view">
			        <a href="#" class="badge" id="user-pic-edit-btn" data-toggle="modal" data-target="#upload-pic-modal">Edit</a>
			        <dl class="dl dl-3">
			            <dt>User Pic</dt>
			            <dd>
			                <img class="current-user-pic" src="{{ current.member.get_image }}" alt="my alt" width="150" height="150"
			                    data-toggle="modal" data-target="#upload-pic-modal">
	                    </dd>
			        </dl>     
			    </div>
		    </div>
		</div>
	</div>



	
{% endblock %}	