{% extends "core/bases/logged_out_base.html" %}
{% load app_filters %}
{% load widget_tweaks %}

{% block subcontent %}


    {% include "account/blocks/create-account-nav.html" %}<br>

	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<p style="font-size:1.5em;color:#34B51E">
			<i class="fa fa-check"></i>
			Account successfully created for {{ participant.get_name }}. Welcome!</p>
			<br>
			<p>We just sent you an email from info@villagebuilder.net.  Please mark it as not spam so that you can receive 
			activity updates.  You can set email preferences
			anytime on the <a href="{% url 'account:account' %}">account settings page</a>.</p>
			<br><br>
			
			<a href="{% url 'home' %}" class="btn btn-success btn-lg">
				Continue to your home page <i class="fa fa-angle-double-right"></i>
			</a>
			<br><br>
		</div>
	</div>


	
	

{% endblock %}