{% extends "core/bases/logged_out_base.html" %}
{% load app_filters %}
{% load widget_tweaks %}<!-- https://pypi.python.org/pypi/django-widget-tweaks -->
{% load staticfiles %}

{% block subcontent %}

<script type="text/javascript">
    {% include "account/js/personal_info.js" %}
</script>

{% include "core/modals/upload_tool.html" %}	

    {% include "account/blocks/create-account-nav.html" %}<br>
	    <form action="{{ callback }}" method="post" id="personal-info-form">
	        <div style="display:none;">
	            <!-- Account Info form is hidden here -->
	        	{% for field in hiddenForm %}	
			        <div class="form-group">
				        {{ field.errors }}
			            {{ field|label_with_classes:"control-label" }} 
			            {{ field|attr:"class:form-control" }}
		            </div>
			    {% endfor %}
			    <div class="form-group">
			        {{ form.image.errors }}
		            {{ form.image|label_with_classes:"control-label" }} 
		            {{ form.image|attr:"class:form-control"|attr:"readonly" }}
	            </div>
	            <div class="form-group">
			        {{ form.thumb.errors }}
		            {{ form.thumb|label_with_classes:"control-label" }} 
		            {{ form.thumb|attr:"class:form-control"|attr:"readonly" }}
	            </div>
	            <div class="form-group">
			        {{ form.state.errors }}
		            {{ form.state|label_with_classes:"control-label" }} 
		            {{ form.state|attr:"class:form-control" }}
	            </div>
	            <div class="form-group">
			        {{ form.zip_code.errors }}
		            {{ form.zip_code|label_with_classes:"control-label" }} 
		            {{ form.zip_code|attr:"class:form-control" }}
	            </div>
	        </div>
			<div class="row">
				<div class="col-md-4">
				    <fieldset>
				    <legend class="text-success">Display Address</legend>
					    {% csrf_token %}
				        <div class="form-group" style="display:none;">
					        {{ form.full_address.errors }}
				            {{ form.full_address|label_with_classes:"control-label" }} 
				            {{ form.full_address|attr:"class:form-control"|attr:"readonly" }}
			            </div>
			            <div class="form-group">
					        {{ form.street.errors }}
				            <label class="control-label" for="id_street">Street (optional)</label>
				            {{ form.street|attr:"class:form-control" }}
			            </div>
			            <div class="form-group">
					        {{ form.neighborhood.errors }}
				            <label class="control-label" for="id_street">Neighborhood (optional)</label>
				            {{ form.neighborhood|attr:"class:form-control" }}
			            </div>
			            <div class="form-group">
					        {{ form.city.errors }}
				            <label class="control-label" for="id_street">City</label>
				            {{ form.city|attr:"class:form-control" }}
			            </div>
			        </fieldset>
				</div>
				<div class="col-md-4" style="padding:0 30px;">
				    <fieldset>
				        <legend class="text-success">User Pic</legend>
						<img id="user-pic" src="{% static "img/generic-user.png" %}" 
						        alt="User Pic" width="150" height="150"
						        style="margin-right:10px;" />
						<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#upload-pic-modal">
							Upload Picture
						</button>
					</fieldset>
					<fieldset style="margin-top:20px;">
						<legend style="margin-bottom:5px;" class="text-success">Privacy Settings</legend>
						<div style="padding-left:20px;">
					        <div class="checkbox">
						        {{ form.share_street.errors }}
					            {{ form.share_street }}
					            {{ form.share_street.label_tag|remove_colon }}
				            </div>
				        </div>
						<div style="padding-left:20px;">
					        <div class="checkbox">
						        {{ form.share_email.errors }}
					            {{ form.share_email }}
					            {{ form.share_email.label_tag|remove_colon }}
				            </div>
				        </div>
			        </fieldset>
				</div>
				<div class="col-md-4">
					<fieldset>
					    <legend class="text-warning">What can people see?</legend>
					    <div class="panel panel-warning">
						    <div class="panel-heading">
						        <h3 class="panel-title">Shared with Everyone</h3>
						    </div>
						    <div class="panel-body">
						        <img id="shared-user-pic" src="{% static 'img/generic-user.png' %}" 
						                alt="User Pic" width="55" height="55"
						                style="float:left;margin-right:10px;" />
							    <span id="shared-first-name"></span> <span id="shared-last-name"></span><br />
							    <span id="shared-street"></span> (<span id="shared-neighborhood"></span>)
						    </div>
						</div>
					    <div class="panel panel-warning">
						    <div class="panel-heading">
						        <h3 class="panel-title">Shared Only with Friends</h3>
						    </div>
						    <div class="panel-body">
						        <div id="shared-email-show">
									<strong>Email: </strong> <span id="shared-email"></span>
								</div>
								<div id="nothing-shared-show">
									<em>nothing</em>
								</div>
						    </div>
						</div>
					    <div style="text-align:right;">
							<button type="submit" class="btn btn-success btn-lg">Create Account <i class="fa fa-angle-double-right"></i></button>
						</div>
					</fieldset>
				</div>
			</div>
		</form>





{% endblock %}