
<div style="overflow:hidden;clear:both;" class="list-group-item">
    <img src="{{ item.get_thumb }}" alt="" width="50" height="50" 
            style="float:left;margin-right:10px;" />
    <div style="padding-top:0;">
	    
	    <a href="{% url 'sharing:item' item.id %}">
	        <div style="font-size:1.2em;margin-bottom:3px;">
				{{ item.title }}
			</div>
	    </a>
	    <span class="text-muted" style="font-size:0.9em;">
	        <i class="fa fa-share-alt"></i>
	        
	        <a href="{% url 'account:view' item.sharer.id %}">
	            
	            {{ item.sharer.participant.get_name }}
	        </a>
	        - {{ item.share_date|date:"M d, Y" }}
	    </span>
	</div>
</div>
