
<div style="overflow:hidden;clear:both;" class="list-group-item">
    <img src="{{ item.get_thumb }}" alt="" width="50" height="50" 
            style="float:left;margin-right:10px;" />
    <div style="padding-top:0;">
	    <span class="text-muted" style="font-size:0.9em;">{{ item.share_date|date:"M d, Y" }}</span>
	    <a href="{% url 'sharing:item' item.id %}">
	        <span style="font-size:1.3em;color:#CC5200;">
	        	<i class="fa fa-chevron-right"></i>
				{{ item.title }}
			</span>
	    </a><br>
	    <span class="text-muted" style="font-size:0.9em;">
	        Shared by <a href="{% url 'account:view' item.sharer.id %}">{{ item.sharer.participant.get_name }}</a>
	    </span>
	</div>
</div>
