
<div style="clear:both;padding-bottom:15px;" class="list-group-item">

	<div style="float:right;">
	    <div class="btn-group">
			<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
			<ul class="dropdown-menu dropdown-menu-right" style="padding: 5px 10px;">
				<li><a href="{% url 'sharing:item' item.id %}">View</a></li>
				<li><a href="{% url 'sharing:edit_item' item.id %}"><i class="fa fa-pencil"></i> Edit</a></li>
				<li><a href=""><i class="fa fa-trash-o"></i> Delete</a></li>
			</ul>
		</div>
	</div>






    {% if item.has_thumb %}
    	<img src="{{ item.get_thumb }}" alt="" width="50" height="50" 
            	style="float:left;margin-right:10px;" />
    {% endif %}
    <div style="padding-top:0;">
	    
	    <a href="{% url 'sharing:item' item.id %}">
	        <div style="font-size:1.2em;margin-bottom:3px;">
				{{ item.title }}
			</div>
	    </a>
	    <span class="text-muted" style="font-size:0.9em;">
	        <i class="fa fa-share-alt"></i>
	        
	        <a href="{% url 'account:view' item.sharer.id %}">
	            
	            {{ item.sharer.participant.get_name }}
	        </a>
	        - {{ item.share_date|date:"M d, Y" }}
	    </span><br>
	    <span class="text-muted" style="font-size:0.9em;">
	    	Sharing with: 
	    </span>
	    <span class="text-warning" style="font-size:0.9em;">
	    	{% if item.share_type == 'share_list' %}
	    	    share list: "{{ item.sharelist.name }}"
	    	{% else %}
	    	    {{ item.share_type }}
	    	{% endif %}
	    </span>
	</div>
</div>
