<h5>Minimizing Risk</h5>

<p>There is inherent risk in sharing, especially when it involves loaning valuable items to others.  Please follow these tips for minimizing risk:</p>

<ol>
<li><strong>Only share with trusted friends.</strong>  VillageBuilder is designed to help you do that.  You can specify for each item who you want to share with.</li>
<li><strong>Don't share items that have a significant financial or sentimental value.</strong>  If you can't afford to lose it, don't share it.</li>
<li><strong>Always discuss the borrowers liability *before* loaning an item.</strong>  Even if a person is reliable, there's no way to completely eliminate the risk of an item being damaged, stolen or lost while in their posession.  It's better to discuss expectations before something goes wrong, not after.</li>
</ol>

<h5>VillageBuilder's Liability</h5>

<p>VillageBuilder is merely a platform for your independent transactions.  We accept no responsibility for any negative consequences that result from transactions facilitated though this website.</p>

<h5>Restrictions on Solicitations</h5>

<p>VillageBuilder is a place for sharing with friends, and using the site for commercial purposes is not allowed.  In general, you may not request money for goods or services offered through the site.  You may, however, offer money or barter in exchange for goods or services.</p>  

<p>Here are some examples to help clarify:</p>

<div class="well well-sm">
<p>You make a painting and offer to sell it for considerably less than you think it's worth.</p>
<span class="text-danger"><i class="fa fa-times"></i>
Not allowed.  The sale of goods or services is not allowed on the site.</span></span>
</div>

<div class="well well-sm">
<p>You are going out of town for several months and ask if anyone wants to sublet your apartment for half of what you pay.</p>
<span class="text-danger"><i class="fa fa-times"></i>
Not allowed.  The sale of goods or services is not allowed on the site, even if it's at or below cost.</span>
</div>

<div class="well well-sm">
<p>You offer extra tomatoes from your garden on the site for free.  Your friend offers to pay for them and you accept their offer.</p>
<span class="text-success"><i class="fa fa-check"></i>
Allowed.  In this case the money was offered, not solicited.  VillageBuilder has no restrictions on the offering of money as a token of gratitude.</span>
</div>

<div class="well well-sm">
<p>You offer to help someone with carpentry work provided they pay for the cost of the materials.</p>
<span class="text-success"><i class="fa fa-check"></i>
Allowed.  In this case, you are sharing your services for free.  If you also required they pay for the cost of your labor that would not be allowed.</span>
</div>

<div class="well well-sm">
<p>You want to buy a scroll saw and use the site to find friends who want to split the cost with you and share the item.</p>
<span class="text-success"><i class="fa fa-check"></i>
Allowed.  You are sharing the cost of purchasing an item together.  You are not selling or renting anything.</span>
</div>


<h5>Account Termination</h5>

<p>You may not use this site other than for its intended purposes of sharing with friends.  We reserve the right to remove anyone who we feel is not using the site as intended.  This includes but is not limited to: repeated violation of our restrictions on solicitations; harassment or threatening/hostile comments; offensive or inappropriate language or pictures; and repeated or unwelcome attempts to connect or interact with people you don't know.</p>

<p>If you feel someone is violating our policies, please report them to 
<a href="mailto:admin@villagebuilder.net">admin@villagebuilder.net</a>.</p>