{% extends "core/bases/home_base.html" %}
{% load app_filters %}
{% load widget_tweaks %}

{% block subcontent %}

<script>


	$(document).ready(function(){
		
		function attachEvents() {
			$('.btn-edit-request').off();		//remove all existing event handlers
			$('.btn-edit-request').click(function(event) {
				var requestId = this.id.replace("btn-edit-request-", "");
				if ( $(this).html().trim() == 'Edit' ) {
					$('#view-request-' + requestId).hide();
					$('#edit-request-' + requestId).show();
					$(this).html('Cancel Edit');
				} else {
					$('#edit-request-' + requestId).hide();
					$('#view-request-' + requestId).show();
					$(this).html('Edit');
				}
				event.preventDefault();
			});
			$('.btn-show-edit-request-comment').off();
			$('.btn-show-edit-request-comment').click(function(event) {
				var commentId = this.id.replace("btn-show-edit-request-comment-", "");
				if ( $(this).html().trim() == 'Edit' ) {
					$('#view-request-comment-' + commentId).hide();
					$('#edit-request-comment-' + commentId).show();
					$(this).html('Cancel Edit');
				} else {
					$('#edit-request-comment-' + commentId).hide();
					$('#view-request-comment-' + commentId).show();
					$(this).html('Edit');
				}
				event.preventDefault();
			});
			$('.show-comments').off();
			$('.show-comments').click(function(event) {
				var requestId = this.id.replace("show-comments-for-request-", "");
				if ( $(this).html().indexOf('up') == -1 ) {
					$('#comments-for-request-' + requestId).slideDown();
					$(this).html($(this).html().replace( 'down', 'up'));
				} else {
					$('#comments-for-request-' + requestId).slideUp();
					$(this).html($(this).html().replace( 'up', 'down'));
				}
				event.preventDefault();
			});
			$('.btn-delete-request').off();
			$('.btn-delete-request').click(function(event) {
				var requestId = this.id.replace("btn-delete-request-", "");
				var data = {
					'redirect' : '{{request.build_absolute_uri}}',
					'request_id' : requestId,
				}
				$.post("{% url 'requests:delete_request' %}", data, function(data, status) {
	                if (status == 'success') {
	                	$('#request-' + data).html('<div class="alert alert-dismissible alert-danger">'
	                			  + '<button type="button" class="close" data-dismiss="alert">X</button>'
	                			  + 'Request Deleted</div>');
	                }
				});
				event.preventDefault();
			});
			$('.btn-delete-request-comment').off();
			$('.btn-delete-request-comment').click(function(event) {
				var commentId = this.id.replace("btn-delete-request-comment-", "");
				var data = {
					'redirect' : '{{request.build_absolute_uri}}',
					'comment_id' : commentId,
				}
				$.post("{% url 'requests:delete_request_comment' %}", data, function(data, status) {
	                if (status == 'success') {
	                	$('#comment-' + data).html('<div class="alert alert-dismissible alert-danger">'
	                			  + '<button type="button" class="close" data-dismiss="alert">X</button>'
	                			  + 'Comment Deleted</div>');
	                }
				});
				event.preventDefault();
			});
			$('.btn-edit-request-comment').off();
			$('.btn-edit-request-comment').click(function(event) {
				var commentId = this.id.replace("btn-edit-request-comment-", "");
				var data = {
					'comment_id' : commentId,
					'body' : $('#edit-request-comment-body-' + commentId).val()
				}
				$.post("{% url 'requests:edit_request_comment' %}", data, function(data, status) {
	                if (status == 'success') {
	                	$('#comment-' + data.comment_id).replaceWith(data.html);
	                	attachEvents();
	                }
				});
				event.preventDefault();
			});
			$('.btn-add-request-comment').off();
			$('.btn-add-request-comment').click(function(event) {
				var requestId = this.id.replace("btn-add-request-comment-", "");
				var data = {
					'request_id' : requestId,
					'body' : $('#add-request-comment-body-' + requestId).val()
				}
				$.post("{% url 'requests:post_request_comment' %}", data, function(data, status) {
	                if (status == 'success') {
	                	$('#new-comments-' + data.request_id).append(data.html);
	                	$('#add-request-comment-body-' + data.request_id).val('')
	                	attachEvents();
	                }
				});
				event.preventDefault();
			});

		}
		
		
		
		attachEvents();
		
	});
</script>



    <div class="row">
    	<div class="col-md-3">
			<div class="form-group">
				  <div class="input-group">
				      <input class="form-control" type="text" placeholder="Search items shared with you">
				      <span class="input-group-btn">
				          <button class="btn btn-default" type="button">Go</button>
				      </span>
				  </div>
			</div>
			<button class="btn btn-primary btn-block">
			    Browse Items Shared with You >
			</button>
			<h3>Recently Shared</h3>
			<div class="list-group">
				<a href="#" class="list-group-item">
				    <h4 class="list-group-item-heading">List group item heading</h4>
				    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
				</a>
				<a href="#" class="list-group-item">
				    <h4 class="list-group-item-heading">List group item heading</h4>
				    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
				</a>
			</div>
    	</div>
    	<div class="col-md-6" id="request-section">
    	    <div class="float-right" style="margin-top: 5px">
		    	<div class="btn-group">
					<a href="#" class="btn btn-primary">Share Something</a>
					<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-caret-down"></i>&nbsp;</a>
					<ul class="dropdown-menu">
						<li><a href="#">Stuff</a></li>
						<li><a href="#">Space</a></li>
						<li><a href="#">Meals</a></li>
						<li><a href="#">Skills/Labor</a></li>
						<li><a href="#">Activity</a></li>
					</ul>
				</div>
			</div>
			<ul class="nav nav-tabs">
				<li class="active" style="margin: 5px 5px -1px 0">
					<a href="" style="background-color:#F5F5F5">
						<span class="text-info">Request Something</span>
					</a>
				</li>
			</ul>
			<div class="tab-content" style="background-color:#F5F5F5; padding:0 7px 0 7px; border:solid 1px #DDDDDD; border-top: none">
				<br>
				<form method="post" action="{% url 'requests:post_request' %}">
				    {% csrf_token %}
				    <input type="hidden" name="redirect" value="{{request.build_absolute_uri}}" />
					<div class="form-group">
						<textarea class="form-control" rows="2" name="body"
								placeholder="Ask for something you need..."></textarea>
						<button type="submit" class="btn btn-default" style="margin-top: 5px">Post Request</button>
					</div> 
				</form>
			</div>
			<h3 style="border-bottom:solid 1px #527EAC;">Requests</h3>
			{% for myrequest in requests %}
				<div id="request-{{ myrequest.request.id }}" style="border-bottom:solid 1px #527EAC;">
					<div style="padding: 10px 0;">
						
					    <div class="row">
					        <div class="col-sm-1" style="min-width:51px;">
					    		<img src="{{ myrequest.request.member.participant.get_image }}" alt="my alt" width="50" height="50" />
							</div>
							<div class="col-sm-11">
							    <div style="float:right;">
						    		{% if myrequest.request.member.id == current.member.id %}
								    	<div class="btn-group">
											<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
											     <span class="caret"></span>
										     </a>
										     <ul class="dropdown-menu dropdown-menu-right">
										        <li>
										            <a href="#" class="btn-edit-request" id="btn-edit-request-{{ myrequest.request.id }}">
										                Edit
										            </a>
										            <a href="#" class="btn-delete-request" id="btn-delete-request-{{ myrequest.request.id }}">
										            	Delete
										            </a>
										        </li>
										     </ul>
									    </div>
									{% endif %}
								</div>
								<div id="view-request-{{ myrequest.request.id }}">
								   	<em class="text-muted">
								   		Posted by 
								   		<a href="{% url 'account:view' myrequest.request.member.id %}">
								   			{{ myrequest.request.member.participant.get_name }}
								   		</a> 
								   		on {{ myrequest.request.date }}
							   		</em>
							   		<div style="padding-top:5px;">
										{{ myrequest.request.body|linebreaksbr|urlize }}
									</div>
								</div>
								<div style="display:none" id="edit-request-{{ myrequest.request.id }}">
									<br><br>
									<form method="post" action="{% url 'requests:edit_request' %}">
									    {% csrf_token %}
									    <input type="hidden" name="redirect" value="{{request.build_absolute_uri}}" />
									    <input type="hidden" name="request_id" value="{{myrequest.request.id}}" />
										<textarea class="form-control" rows="5" name="body">{{ myrequest.request.body }}</textarea>
										<br>
										<button type="submit" class="btn btn-primary">Submit Changes</button>
									</form>
								</div>
							</div>
						</div>
					</div>	
					<div style="clear:both;padding-left:25px; padding-right:25px;" class="well well-sm">
						<a href="#" class="show-comments" id="show-comments-for-request-{{myrequest.request.id}}">
						    Comments ({{ myrequest.comments.count }}) <i class="fa fa-caret-down"></i>
						</a>
						<div id="comments-for-request-{{myrequest.request.id}}" style="display:none;font-size:0.9em;">
							{% for comment in myrequest.comments %}
							    {% include 'requests/blocks/commentblock.html' %}
							{% endfor %}
							<div id="new-comments-{{myrequest.request.id}}"></div>
							<div style="padding-top:10px;">
								<div class="row">
								    <div class="col-sm-8">
										<textarea class="form-control" rows="1" name="body"
												placeholder="Add a comment..."
												id="add-request-comment-body-{{myrequest.request.id}}"></textarea>
									</div>
									<div class="col-sm-4">
										<button type="submit" class="btn btn-default btn-add-request-comment" 
										        style="margin-top: 5px"
										        id="btn-add-request-comment-{{myrequest.request.id}}">
										    Add Comment
										</button>
									</div>
								</div> 
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="col-md-3">
			<form action="{% url 'relationships:participant_search' %}" method="get">
				<div class="form-group">
					  <div class="input-group">
					      <input class="form-control" type="text" 
					          placeholder="Search for people or groups" 
					          name="participant-search-txt" />
					      <span class="input-group-btn">
					          <input class="btn btn-default" type="submit" id="participant-search-btn" value="Go" />
					      </span>
					  </div>
				</div>
			</form>
			<hr>
			<h3>Find Friends</h3>
			<span class="text-primary">People Near You:</span>
			<div class="list-group">
				{% for participant in peopleNearYou %}
				    {% include 'core/blocks/participantgroup.html' %}
				{% empty %}
				    &nbsp;&nbsp;&nbsp;&nbsp;<em>none</em>
				{% endfor %}
			</div>
			<span class="text-primary">Friends of Friends:</span>
			<div class="list-group">
				{% for participant in friendsOfFriends %}
				    {% include 'core/blocks/participantgroup.html' %}
				{% empty %}
				    &nbsp;&nbsp;&nbsp;&nbsp;<em>none</em>
				{% endfor %}
			</div>
    	</div>
    </div>
{% endblock %}	




