{% extends "core/bases/home_base.html" %}
{% load app_filters %}
{% load widget_tweaks %}

{% block subcontent %}

<script>


	$(document).ready(function(){
		
		function attachEvents() {
			$('.btn-complete-request').off();
			$('.btn-complete-request').click(function(event) {
				var requestId = this.id.replace("btn-complete-request-", "");
				var data = {
					'redirect' : '{{request.build_absolute_uri}}',
					'request_id' : requestId,
				}
				$.post("{% url 'requests:complete_request' %}", data, function(data, status) {
	                if (status == 'success') {
	                	$('#request-' + data.request_id).replaceWith( data.html );
	                	attachEvents();
	                }
				});
				event.preventDefault();
			});
			$('.btn-uncomplete-request').off();
			$('.btn-uncomplete-request').click(function(event) {
				var requestId = this.id.replace("btn-uncomplete-request-", "");
				var data = {
					'redirect' : '{{request.build_absolute_uri}}',
					'request_id' : requestId,
				}
				$.post("{% url 'requests:uncomplete_request' %}", data, function(data, status) {
	                if (status == 'success') {
	                	$('#request-' + data.request_id).replaceWith( data.html );
	                	attachEvents();
	                }
				});
				event.preventDefault();
			});
			$('.btn-edit-request').off();		//remove all existing event handlers
			$('.btn-edit-request').click(function(event) {
				var requestId = this.id.replace("btn-edit-request-", "");
				if ( $(this).html().trim() == 'Edit' ) {
					$('#view-request-' + requestId).hide();
					$('#edit-request-' + requestId).show();
					$(this).html('Cancel Edit');
				} else {
					$('#edit-request-' + requestId).hide();
					$('#view-request-' + requestId).show();
					$(this).html('Edit');
				}
				event.preventDefault();
			});
			$('.btn-show-edit-request-comment').off();
			$('.btn-show-edit-request-comment').click(function(event) {
				var commentId = this.id.replace("btn-show-edit-request-comment-", "");
				if ( $(this).html().trim() == 'Edit' ) {
					$('#view-request-comment-' + commentId).hide();
					$('#edit-request-comment-' + commentId).show();
					$(this).html('Cancel Edit');
				} else {
					$('#edit-request-comment-' + commentId).hide();
					$('#view-request-comment-' + commentId).show();
					$(this).html('Edit');
				}
				event.preventDefault();
			});
			$('.show-comments').off();
			$('.show-comments').click(function(event) {
				var requestId = this.id.replace("show-comments-for-request-", "");
				if ( $(this).html().indexOf('up') == -1 ) {
					$('#comments-for-request-' + requestId).slideDown();
					$(this).html($(this).html().replace( 'down', 'up'));
				} else {
					$('#comments-for-request-' + requestId).slideUp();
					$(this).html($(this).html().replace( 'up', 'down'));
				}
				event.preventDefault();
			});
			$('.btn-delete-request').off();
			$('.btn-delete-request').click(function(event) {
				var requestId = this.id.replace("btn-delete-request-", "");
				var data = {
					'redirect' : '{{request.build_absolute_uri}}',
					'request_id' : requestId,
				}
				$.post("{% url 'requests:delete_request' %}", data, function(data, status) {
	                if (status == 'success') {
	                	$('#request-' + data).html('<div class="alert alert-dismissible alert-danger">'
	                			  + '<button type="button" class="close" data-dismiss="alert">X</button>'
	                			  + 'Request Deleted</div>');
	                }
				});
				event.preventDefault();
			});
			$('.btn-delete-request-comment').off();
			$('.btn-delete-request-comment').click(function(event) {
				var commentId = this.id.replace("btn-delete-request-comment-", "");
				var data = {
					'redirect' : '{{request.build_absolute_uri}}',
					'comment_id' : commentId,
				}
				$.post("{% url 'requests:delete_request_comment' %}", data, function(data, status) {
	                if (status == 'success') {
	                	$('#comment-' + data).html('<div class="alert alert-dismissible alert-danger">'
	                			  + '<button type="button" class="close" data-dismiss="alert">X</button>'
	                			  + 'Comment Deleted</div>');
	                }
				});
				event.preventDefault();
			});
			$('.btn-edit-request-comment').off();
			$('.btn-edit-request-comment').click(function(event) {
				var commentId = this.id.replace("btn-edit-request-comment-", "");
				var data = {
					'comment_id' : commentId,
					'body' : $('#edit-request-comment-body-' + commentId).val()
				}
				$.post("{% url 'requests:edit_request_comment' %}", data, function(data, status) {
	                if (status == 'success') {
	                	$('#comment-' + data.comment_id).replaceWith(data.html);
	                	attachEvents();
	                }
				});
				event.preventDefault();
			});
			$('.btn-add-request-comment').off();
			$('.btn-add-request-comment').click(function(event) {
				var requestId = this.id.replace("btn-add-request-comment-", "");
				var data = {
					'request_id' : requestId,
					'body' : $('#add-request-comment-body-' + requestId).val()
				}
				$.post("{% url 'requests:post_request_comment' %}", data, function(data, status) {
	                if (status == 'success') {
	                	$('#new-comments-' + data.request_id).append(data.html);
	                	$('#add-request-comment-body-' + data.request_id).val('')
	                	attachEvents();
	                }
				});
				event.preventDefault();
			});

		}
		
		$('#load-more-requests').click(function() {
			var start = maxRequest;
			var end = maxRequest + 10;
			$.get("{% url 'requests:request_list' %}", { 'start' : start, 'end' : end }, function(data, status){
				if (!data.moreRequests) {
		        	$('#load-more-requests').hide();
		        }
		        $('#request-section').append(data.html);
		        attachEvents();
		        maxRequest = data.maxRequest;
		    });
		});
		
		$('#browse-items-btn').click(function() {
			$('#browse-items-popup').toggle();
		});
		$(document).mouseup(function (e) {
		    var container = $("#browse-items-popup");
		    var activationButton = $('#browse-items-btn');
		    if (!container.is(e.target) // if the target of the click isn't the container...
		        && container.has(e.target).length === 0 // ... nor a descendant of the container
		        && !activationButton.is(e.target)
		        && activationButton.has(e.target).length === 0)
		    {
		        container.hide();
		    }
		});
		
		
		
		var maxRequest = {{ maxRequest }};
		attachEvents();
		
	});
</script>



    <div class="row" style="padding-top:20px;">
    	<div class="col-md-3">
    	    <h3 class="underline" style="margin-top: 0;">Shared With You</h3>
    	    <form method="get" action="{% url 'sharing:items' %}">
				<div class="form-group">
					  <div class="input-group">
					      <input class="form-control" type="text" name="search_terms"
					              placeholder="Search items shared with you" />
					      <span class="input-group-btn">
					          <button type="submit" class="btn btn-default" type="button">Go</button>
					      </span>
					  </div>
				</div>
			</form>
			<div style="position:relative;">
				<button class="btn btn-primary btn-block" id="browse-items-btn">
				    Browse {{ totalSharedWithYou }} Items Shared with You <i class="fa fa-chevron-down"></i>
				</button>
				<div style="position:absolute;left:0;top:100%;z-index:1000;width:700px;display:none;" 
				        class="well well-sm" id="browse-items-popup">
				    <div style="text-align:right;padding-right:10px;">
				        <a href="{% url 'sharing:items' %}" style="color: #FFF;">
				            Show me everything <i class="fa fa-angle-double-right"></i>
				        </a>
				    </div>
					{% for category, values in shareCategories.items %}
					    <div class="col-xs-4">
							<div class="list-group">
						        {% if values.count > 0 %}
						            <a href="{% url 'sharing:items' %}?category={{category|lower}}" 
						                    class="list-group-item lead-item">
						                {{ category }}
						                <span class="badge">{{ values.count }}</span>
						            </a>
						        {% else %}
						            <div class="list-group-item lead-item">{{ category }}</div>
						        {% endif %}
							    <div class="list-group">
							    {% for keyword, itemCount in values.keywords.items %}
							             {% if itemCount > 0 %}
								             <a href="{% url 'sharing:items' %}?category={{keyword}}"
								                     class="list-group-item">
								                 {{keyword}}
								             	 <span class="badge">{{ itemCount }}</span>
								             </a>
								         {% else %}
								             <div class="list-group-item text-muted">{{keyword}}</div>
								         {% endif %}
							    {% endfor %}
							    </div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<br>
			<div class="text-primary">Recently Shared</div>
			<div class="list-group">
			    {% for item in recentItems %}
					{% include 'sharing/blocks/itemblock.html' %}
				{% endfor %}
			</div>
			<div style="text-align:right">
				<a href="{% url 'sharing:items' %}">more...</a>
			</div>
    	</div>
    	<div class="col-md-6">
    	    <div class="float-right" style="margin-top: 5px">
		    	<div class="btn-group">
					<a href="{% url 'sharing:share_item' %}" class="btn btn-primary">Share Something</a>
					<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-caret-down"></i>&nbsp;</a>
					<ul class="dropdown-menu">
					    {% for category in shareCategories.keys %}
						    <li><a href="{% url 'sharing:share_item' %}?type={{ category|lower }}">{{ category }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<ul class="nav nav-tabs">
				<li class="active" style="margin: 5px 5px -1px 0">
					<a href="" style="background-color:#F5F5F5">
						<span class="text-info">Request Something</span>
					</a>
				</li>
			</ul>
			<div class="tab-content" style="background-color:#F5F5F5; padding:0 7px 0 7px; border:solid 1px #DDDDDD; border-top: none">
				<br>
				<form method="post" action="{% url 'requests:post_request' %}">
				    {% csrf_token %}
				    <input type="hidden" name="redirect" value="{{request.build_absolute_uri}}" />
					<div class="form-group">
						<textarea class="form-control" rows="2" name="body"
								placeholder="Ask for something you need..."></textarea>
						<button type="submit" class="btn btn-default" style="margin-top: 5px">Post Request</button>
					</div> 
				</form>
			</div>
			<h3 class="underline">Requests</h3>
			<div id="request-section">
			    {% include 'requests/request_list.html' %}
			</div>
			{% if moreRequests %} 
			    <button id="load-more-requests" class="btn btn-default">Load More</button>
			{% endif %}
		</div>
		<div class="col-md-3">
		    <h3 class="underline" style="margin-top: 0;">Find Friends</h3>
			<form action="{% url 'relationships:participant_search' %}" method="get">
				<div class="form-group">
					  <div class="input-group">
					      <input class="form-control" type="text" 
					          placeholder="Search for people or groups" 
					          name="participant-search-txt" />
					      <span class="input-group-btn">
					          <input class="btn btn-default" type="submit" id="participant-search-btn" value="Go" />
					      </span>
					  </div>
				</div>
			</form>
			<hr>
			
			<span class="text-primary">People Near You:</span>
			<div class="list-group">
				{% for participant in peopleNearYou %}
				    {% include 'core/blocks/participantgroup.html' %}
				{% empty %}
				    &nbsp;&nbsp;&nbsp;&nbsp;<em>none</em>
				{% endfor %}
			</div>
			<span class="text-primary">Friends of Friends:</span>
			<div class="list-group">
				{% for participant in friendsOfFriends %}
				    {% include 'core/blocks/participantgroup.html' %}
				{% empty %}
				    &nbsp;&nbsp;&nbsp;&nbsp;<em>none</em>
				{% endfor %}
			</div>
    	</div>
    </div>
{% endblock %}	




