{% extends "core/bases/home_base.html" %}
{% load app_filters %}
{% load widget_tweaks %}

{% block subcontent %}

<script>

	


	$(document).ready(function(){
		
		{% include 'requests/js/requests.js' %}
		
		$('#browse-items-btn').click(function() {
			$('#browse-items-popup').toggle();
		});
		$(document).mouseup(function (e) {
		    var container = $("#browse-items-popup");
		    var activationButton = $('#browse-items-btn');
		    if (!container.is(e.target) // if the target of the click isn't the container...
		        && container.has(e.target).length === 0 // ... nor a descendant of the container
		        && !activationButton.is(e.target)
		        && activationButton.has(e.target).length === 0)
		    {
		        container.hide();
		    }
		});
		$('#load-more-requests').click(function() {
			var start = maxRequest;
			var end = maxRequest + 10;
			$.get("{% url 'requests:request_list' %}", { 'start' : start, 'end' : end }, function(data, status){
				if (!data.moreRequests) {
		        	$('#load-more-requests').hide();
		        }
		        $('#request-section').append(data.html);
		        attachEvents();		//this fuction is created in 'requests/js/requests.js'
		        maxRequest = data.maxRequest;
		    });
		});
		
		$('#request-form').submit(function() {
			if ( $('#request-body').val().trim() == '' ) {
				return false;
			}
			return true;
		});
		
		var maxRequest = {{ maxRequest }};
		
		$(".add-tooltip").tooltip();
		
		
		//facebook integration
		$.ajaxSetup({ cache: true });
		$.getScript('//connect.facebook.net/en_US/sdk.js', function(){
	  		FB.init({
	    		appId: '1184393148243808',
	    		version: 'v2.4' // or v2.0, v2.1, v2.2, v2.3
	  		});     
	  		//$('#loginbutton,#feedbutton').removeAttr('disabled');
	  		//FB.getLoginStatus(updateStatusCallback);
		});
		
		$('#btn-invite-fb-friends').click(function() {
			FB.ui({
				method: 'share',
				href: 'http://villagebuilder.net'
	  		}, function(response){
	  			console.log(response);
	  		});
		});
		
	});
		
		

</script>



    <div class="row" style="padding-top:20px;">
    	<div class="col-md-3">
    	    <h3 class="underline" style="margin-top: 0;">Shared With You</h3>
    	    <form method="get" action="{% url 'sharing:items' %}">
				<div class="form-group">
					  <div class="input-group">
					      <input class="form-control" type="text" name="search_terms"
					              placeholder="Search items shared with you" />
					      <span class="input-group-btn">
					          <button type="submit" class="btn btn-default" type="button">Go</button>
					      </span>
					  </div>
				</div>
			</form>
			<div style="position:relative;">
				<button class="btn btn-primary btn-block" id="browse-items-btn">
				    Browse {{ totalSharedWithYou }} Items Shared with You <i class="fa fa-chevron-down"></i>
				</button>
				<div style="position:absolute;left:0;top:100%;z-index:1000;width:700px;display:none;" 
				        class="well well-sm" id="browse-items-popup">
				    <div style="text-align:right;padding-right:10px;">
				        <a href="{% url 'sharing:items' %}" style="color: #FFF;">
				            Show me everything <i class="fa fa-angle-double-right"></i>
				        </a>
				    </div>
					{% for itemType in shareCategories %}
					    <div class="col-xs-4">
							<div class="list-group">
						        {% if itemType.count > 0 %}
						            <a href="{% url 'sharing:items' %}?category={{itemType.0}}" 
						                    class="list-group-item lead-item">
						                {{ itemType.1 }}
						                <span class="badge">{{ itemType.3 }}</span>
						            </a>
						        {% else %}
						            <div class="list-group-item lead-item">{{ itemType.1 }}</div>
						        {% endif %}
							    <div class="list-group">
							    {% for keyword in itemType.2 %}
							             {% if keyword.2 > 0 %}
								             <a href="{% url 'sharing:items' %}?category={{keyword.0}}"
								                     class="list-group-item">
								                 {{keyword.1}}
								             	 <span class="badge">{{ keyword.2 }}</span>
								             </a>
								         {% else %}
								             <div class="list-group-item text-muted">{{keyword.1}}</div>
								         {% endif %}
							    {% endfor %}
							    </div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<br>
			<div class="text-warning"><strong>Recently Shared</strong></div>
			<div class="list-group">
			    {% for item in recentItems %}
					{% include 'sharing/blocks/itemblock.html' %}
				{% empty %}
				    Nothing has been shared with you yet.
				{% endfor %}
			</div>
			<div style="text-align:right">
				<a href="{% url 'sharing:items' %}">more...</a>
			</div>
    	</div>
    	<div class="col-md-6">
    	    <div class="float-right" style="margin-top: 5px">
		    	<div class="btn-group">
					<a href="{% url 'sharing:share_item' %}?type=stuff" class="btn btn-primary">Share Something</a>
					<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-caret-down"></i>&nbsp;</a>
					<ul class="dropdown-menu">
					    {% for category in shareCategories %}
						    <li>
						    	<a href="{% url 'sharing:share_item' %}?type={{ category.0 }}">
						    		<span style="display:inline-block; width: 200px;">Share {{ category.1 }}</span>
						    		<i class="fa fa-plus"></i>
						    	</a>
						    </li>
						{% endfor %}
						<li>
							<a href="{% url 'sharing:quick_share' %}">
								<span style="display:inline-block; width: 200px;">Quick Share Common Items</span>
								<i class="fa fa-list-ul"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<ul class="nav nav-tabs">
				<li class="active" style="margin: 5px 5px -1px 0">
					<a href="" style="background-color:#F5F5F5">
						<span class="text-info">Request Something</span>
					</a>
				</li>
			</ul>
			<div class="tab-content" style="background-color:#F5F5F5; padding:0 7px 0 7px; border:solid 1px #DDDDDD; border-top: none">
				<br>
				<form method="post" id="request-form" action="{% url 'requests:post_request' %}">
				    {% csrf_token %}
				    <input type="hidden" name="redirect" value="{{request.build_absolute_uri}}" />

					<textarea class="form-control" rows="2" name="body" id="request-body"
								placeholder="Ask for something you need, give something away, say hi..."></textarea>
					<button type="submit" class="btn btn-default" style="margin:5px 0">Post Message</button>
					<div style="display:inline-block;" >
						<a href="#" data-toggle="tooltip" data-placement="right" 
							data-original-title="Request messages are visible by all your friends and all your groups." class="add-tooltip">
							<i class="fa fa-question-circle"></i>
						</a>
					</div>
				</form>
			</div>
			{% if not hasRelationshipActivity %}
				<div class="alert alert-dismissible alert-warning" style="margin-bottom:0">
				    <button type="button" class="close" data-dismiss="alert">X</button>
					Welcome!  In order to share with someone, you must first add them
					as a friend.
					There are tools on the right side of this page for finding friends. 
					Use the blue button in anyone's name box to send them a friend request.
				</div>
			{% endif %}
			{% if not hasSharedSomething %}
				<div class="alert alert-dismissible alert-info">
				    <button type="button" class="close" data-dismiss="alert">X</button>
					You are sharing 0 items.  The easiest way to get started is with the
					<a href="{% url 'sharing:quick_share' %}">quick share common items</a> tool.
					You can also share individual items on the 
					<a href="{% url 'sharing:share_item' %}?type=stuff">share something</a> page.
				</div>
			{% endif %}
			{% for action in actions %}
				<div class="alert alert-dismissible alert-info">
					<i class="fa fa-exclamation-triangle"></i>
					Action Needed: 
					<a href="{% url 'sharing:new_group_action' action.id %}">
						select existing items to share with {{ action.subject.get_name }}
					</a>
				</div>
			{% endfor %}
			<h3 class="underline">Requests</h3>
			<div id="request-section">
			    {% include 'requests/request_list.html' %}
			</div>
			{% if moreRequests %} 
			    <button id="load-more-requests" class="btn btn-default">Load More</button>
			{% endif %}
		</div>
		<div class="col-md-3">
		    <h3 class="underline" style="margin-top: 0;">Find Friends</h3>
			<form action="{% url 'relationships:participant_search' %}" method="get">
				<div class="form-group">
					  <div class="input-group">
					      <input class="form-control" type="text" 
					          placeholder="Search for people or groups" 
					          name="participant-search-txt" />
					      <span class="input-group-btn">
					          <input class="btn btn-default" type="submit" id="participant-search-btn" value="Go" />
					      </span>
					  </div>
				</div>
			</form>

			<div class="text-warning"><strong>Invite Your Friends to Join</strong></div>
			<div style="padding:7px 0 15px 0;text-align:center;">
				<button type="button" class="btn btn-primary btn-sm" id="btn-invite-fb-friends">
					<i class="fa fa-facebook-official"></i> Invite Facebook friends
				</button>
				<button type="button" class="btn btn-default btn-sm" style="visibility:hidden;">
					<i class="fa fa-envelope"></i> Invite by email
				</button>
			</div>
			<div class="text-warning"><strong>People Near You</strong></div>
			<div class="list-group">
				{% for participant in peopleNearYou %}
				    {% include 'core/blocks/participantgroup.html' %}
				{% empty %}
				    &nbsp;&nbsp;&nbsp;&nbsp;<em>none</em>
				{% endfor %}
				{% if peopleNearYou|length > 5 %}
					<div style="padding-top:5px;">
						<a href="{% url 'relationships:friend_suggestions' %}">
						    More People <i class="fa fa-angle-double-right"></i>
						</a>
					</div>
				{% endif %}
			</div>
			<div class="text-warning"><strong>Friends of Friends</strong></div>
			<div class="list-group">
				{% for participant in friendsOfFriends %}
				    {% include 'core/blocks/participantgroup.html' %}
				{% empty %}
				    &nbsp;&nbsp;&nbsp;&nbsp;<em>none</em>
				{% endfor %}
				{% if friendsOfFriends|length > 5 %}
					<div style="padding-top:5px;">
						<a href="{% url 'relationships:friend_suggestions' %}">
						    More People <i class="fa fa-angle-double-right"></i>
						</a>
					</div>
				{% endif %}
			</div>
    	</div>
    </div>
    
    
    

{% endblock %}	




