{% extends "core/bases/base.html" %}
{% load app_filters %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}

<style>
	body {
		background-color: #808080;
		margin-bottom: 30px;
	}
	#vb img #panel-view-window {
		vertical-align: baseline;
	}
	.slideshow-text {
		color:#606060;
		font-family: "Arial Black", Gadget, sans-serif;
		
	}
</style>

<script>

    {% include 'core/js/facebook_login.js' %}

$(document).ready(function(){
	
	$.easing.jswing = $.easing.swing;

	$.extend($.easing,
	{
	    def: 'easeOutQuad',
	    swing: function (x, t, b, c, d) {
	        //alert($.easing.default);
	        return $.easing[$.easing.def](x, t, b, c, d);
	    },
	    easeInQuad: function (x, t, b, c, d) {
	        return c*(t/=d)*t + b;
	    },
	    easeOutQuad: function (x, t, b, c, d) {
	        return -c *(t/=d)*(t-2) + b;
	    },
	    easeInOutQuad: function (x, t, b, c, d) {
	        if ((t/=d/2) < 1) return c/2*t*t + b;
	        return -c/2 * ((--t)*(t-2) - 1) + b;
	    },
	    easeInCubic: function (x, t, b, c, d) {
	        return c*(t/=d)*t*t + b;
	    },
	    easeOutCubic: function (x, t, b, c, d) {
	        return c*((t=t/d-1)*t*t + 1) + b;
	    },
	    easeInOutCubic: function (x, t, b, c, d) {
	        if ((t/=d/2) < 1) return c/2*t*t*t + b;
	        return c/2*((t-=2)*t*t + 2) + b;
	    },
	    easeInQuart: function (x, t, b, c, d) {
	        return c*(t/=d)*t*t*t + b;
	    },
	    easeOutQuart: function (x, t, b, c, d) {
	        return -c * ((t=t/d-1)*t*t*t - 1) + b;
	    },
	    easeInOutQuart: function (x, t, b, c, d) {
	        if ((t/=d/2) < 1) return c/2*t*t*t*t + b;
	        return -c/2 * ((t-=2)*t*t*t - 2) + b;
	    },
	    easeInQuint: function (x, t, b, c, d) {
	        return c*(t/=d)*t*t*t*t + b;
	    },
	    easeOutQuint: function (x, t, b, c, d) {
	        return c*((t=t/d-1)*t*t*t*t + 1) + b;
	    },
	    easeInOutQuint: function (x, t, b, c, d) {
	        if ((t/=d/2) < 1) return c/2*t*t*t*t*t + b;
	        return c/2*((t-=2)*t*t*t*t + 2) + b;
	    },
	    easeInSine: function (x, t, b, c, d) {
	        return -c * Math.cos(t/d * (Math.PI/2)) + c + b;
	    },
	    easeOutSine: function (x, t, b, c, d) {
	        return c * Math.sin(t/d * (Math.PI/2)) + b;
	    },
	    easeInOutSine: function (x, t, b, c, d) {
	        return -c/2 * (Math.cos(Math.PI*t/d) - 1) + b;
	    },
	    easeInExpo: function (x, t, b, c, d) {
	        return (t==0) ? b : c * Math.pow(2, 10 * (t/d - 1)) + b;
	    },
	    easeOutExpo: function (x, t, b, c, d) {
	        return (t==d) ? b+c : c * (-Math.pow(2, -10 * t/d) + 1) + b;
	    },
	    easeInOutExpo: function (x, t, b, c, d) {
	        if (t==0) return b;
	        if (t==d) return b+c;
	        if ((t/=d/2) < 1) return c/2 * Math.pow(2, 10 * (t - 1)) + b;
	        return c/2 * (-Math.pow(2, -10 * --t) + 2) + b;
	    },
	    easeInCirc: function (x, t, b, c, d) {
	        return -c * (Math.sqrt(1 - (t/=d)*t) - 1) + b;
	    },
	    easeOutCirc: function (x, t, b, c, d) {
	        return c * Math.sqrt(1 - (t=t/d-1)*t) + b;
	    },
	    easeInOutCirc: function (x, t, b, c, d) {
	        if ((t/=d/2) < 1) return -c/2 * (Math.sqrt(1 - t*t) - 1) + b;
	        return c/2 * (Math.sqrt(1 - (t-=2)*t) + 1) + b;
	    },
	    easeInElastic: function (x, t, b, c, d) {
	        var s=1.70158;var p=0;var a=c;
	        if (t==0) return b;  if ((t/=d)==1) return b+c;  if (!p) p=d*.3;
	        if (a < Math.abs(c)) { a=c; var s=p/4; }
	        else var s = p/(2*Math.PI) * Math.asin (c/a);
	        return -(a*Math.pow(2,10*(t-=1)) * Math.sin( (t*d-s)*(2*Math.PI)/p )) + b;
	    },
	    easeOutElastic: function (x, t, b, c, d) {
	        var s=1.70158;var p=0;var a=c;
	        if (t==0) return b;  if ((t/=d)==1) return b+c;  if (!p) p=d*.3;
	        if (a < Math.abs(c)) { a=c; var s=p/4; }
	        else var s = p/(2*Math.PI) * Math.asin (c/a);
	        return a*Math.pow(2,-10*t) * Math.sin( (t*d-s)*(2*Math.PI)/p ) + c + b;
	    },
	    easeInOutElastic: function (x, t, b, c, d) {
	        var s=1.70158;var p=0;var a=c;
	        if (t==0) return b;  if ((t/=d/2)==2) return b+c;  if (!p) p=d*(.3*1.5);
	        if (a < Math.abs(c)) { a=c; var s=p/4; }
	        else var s = p/(2*Math.PI) * Math.asin (c/a);
	        if (t < 1) return -.5*(a*Math.pow(2,10*(t-=1)) * Math.sin( (t*d-s)*(2*Math.PI)/p )) + b;
	        return a*Math.pow(2,-10*(t-=1)) * Math.sin( (t*d-s)*(2*Math.PI)/p )*.5 + c + b;
	    },
	    easeInBack: function (x, t, b, c, d, s) {
	        if (s == undefined) s = 1.70158;
	        return c*(t/=d)*t*((s+1)*t - s) + b;
	    },
	    easeOutBack: function (x, t, b, c, d, s) {
	        if (s == undefined) s = 1.70158;
	        return c*((t=t/d-1)*t*((s+1)*t + s) + 1) + b;
	    },
	    easeInOutBack: function (x, t, b, c, d, s) {
	        if (s == undefined) s = 1.70158;
	        if ((t/=d/2) < 1) return c/2*(t*t*(((s*=(1.525))+1)*t - s)) + b;
	        return c/2*((t-=2)*t*(((s*=(1.525))+1)*t + s) + 2) + b;
	    },
	    easeInBounce: function (x, t, b, c, d) {
	        return c - $.easing.easeOutBounce (x, d-t, 0, c, d) + b;
	    },
	    easeOutBounce: function (x, t, b, c, d) {
	        if ((t/=d) < (1/2.75)) {
	            return c*(7.5625*t*t) + b;
	        } else if (t < (2/2.75)) {
	            return c*(7.5625*(t-=(1.5/2.75))*t + .75) + b;
	        } else if (t < (2.5/2.75)) {
	            return c*(7.5625*(t-=(2.25/2.75))*t + .9375) + b;
	        } else {
	            return c*(7.5625*(t-=(2.625/2.75))*t + .984375) + b;
	        }
	    },
	    easeInOutBounce: function (x, t, b, c, d) {
	        if (t < d/2) return $.easing.easeInBounce (x, t*2, 0, c, d) * .5 + b;
	        return $.easing.easeOutBounce (x, t*2-d, 0, c, d) * .5 + c*.5 + b;
	    }
	});
	
	var currentPanel = 1;
	var animationRunning = false;
	
	function slideshowActions(panel) {
		if (panel == 1) {
			$('#panel-view-window').animate( { scrollLeft: '+=600' }, 500, 'swing', function() {
				$('#btn-backward').show();
				$('#btn-forward-text').html('<strong>next&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>');
				setTimeout(function() {
					$('#item1').animate( { width: '100', height: '100', left: 0, top: 0 }, 600, 'swing');
				}, 0);
				setTimeout(function() {
					$('#item2').animate( { width: '100', height: '100', left: 125, top: 0 }, 600, 'swing');
				}, 200);
				setTimeout(function() {
					$('#item3').animate( { width: '100', height: '100', left: 250, top: 0 }, 600, 'swing');
				}, 400);
				setTimeout(function() {
					$('#item4').animate( { width: '100', height: '100', left: 375, top: 0 }, 600, 'swing');
				}, 600);
				setTimeout(function() {
					$('#item5').animate( { width: '100', height: '100', left: 500, top: 0 }, 600, 'swing');
				}, 800);
				setTimeout(function() {
					$('#panel2-text').animate( { opacity: '1' }, 1300);
				}, 1300);
				setTimeout(function() {
					animationRunning = false;
				}, 1800);
			});
		}
		if (panel == 2) {
			$('#item1').animate( { width: '70', height: '70', left: 0 }, 1000);
			$('#item2').animate( { width: '70', height: '70', left: 75 }, 1000);
			$('#item3').animate( { width: '70', height: '70', left: 150 }, 1000);
			$('#item4').animate( { width: '70', height: '70', left: 225 }, 1000);
			$('#item5').animate( { width: '70', height: '70', left: 300 }, 1000);
			$('#panel2-text').animate( { opacity: '0' }, 500, 'swing', function() {
				$('#panel2-text').html('And they can share back, creating a growing inventory of items available to you.');
				setTimeout(function() {
					$('#panel2-text').animate( { opacity: '1' }, 1000);
				}, 4000);
			});
			$('#person1').animate( { width: '110', height: '110', left: '220px', top: '220px' }, 1000);
			setTimeout(function() {
				$('#person2').animate( { opacity: 1 }, 2000 );
				$('#arrow1').animate( { opacity: 1 }, 2000);
				setTimeout(function() {
					$('#item6').animate( { width: '70', height: '70', left: 375, top: 0 }, 1000, 'easeOutBounce');
				}, 500);
				setTimeout(function() {
					$('#item7').animate( { width: '70', height: '70', left: 450, top: 0 }, 1500, 'easeOutBounce');
				}, 600);
				setTimeout(function() {
					$('#item8').animate( { width: '70', height: '70', left: 525, top: 0 }, 2200, 'easeOutBounce');
				}, 700);
				setTimeout(function() {
					$('#item9').animate( { width: '70', height: '70', left: 0, top: 75 }, 1200, 'easeOutBounce');
				}, 800);
				setTimeout(function() {
					$('#item10').animate( { width: '70', height: '70', left: 75, top: 75  }, 1900, 'easeOutBounce');
				}, 900);
				setTimeout(function() {
					$('#person3').animate( { opacity: 1 }, 2000 );
					$('#arrow2').animate( { opacity: 1 }, 2000);
					setTimeout(function() {
						$('#item11').animate( { width: '70', height: '70', left: 150, top: 75  }, 1600, 'easeOutBounce');
					}, 500);
					setTimeout(function() {
						$('#item12').animate( { width: '70', height: '70', left: 225, top: 75  }, 1800, 'easeOutBounce');
					}, 600);
					setTimeout(function() {
						$('#item13').animate( { width: '70', height: '70', left: 300, top: 75  }, 1300, 'easeOutBounce');
					}, 700);
					setTimeout(function() {
						$('#item14').animate( { width: '70', height: '70', left: 375, top: 75  }, 2100, 'easeOutBounce');
					}, 800);
					setTimeout(function() {
						$('#item15').animate( { width: '70', height: '70', left: 450, top: 75  }, 900, 'easeOutBounce');
					}, 900);
					setTimeout(function() {
						$('#item16').animate( { width: '70', height: '70', left: 525, top: 75  }, 1500, 'easeOutBounce');
					}, 1000);
				}, 1500);
			}, 1200);
			setTimeout(function() {
				animationRunning = false;
			}, 5000);
		}
		if (panel == 3) {
			$('#panel-view-window').animate( { scrollLeft: '+=600' }, 500, 'swing', function() {
				$('#panel4-text').animate( { opacity: '1' }, 1000);
				setTimeout(function() {
					animationRunning = false;
				}, 1000);
			});
		}
		if (panel == 4) {
			$('#panel-view-window').animate( { scrollLeft: '+=600' }, 500, 'swing', function() {
				setTimeout(function() {
					$('#panel5-text').animate( { opacity: '1' }, 1000);
				}, 1500);
				setTimeout(function() {
					$('#item1b').animate( { opacity: '1' }, 500, 'linear');
				}, 0);
				setTimeout(function() {
					$('#item2-ex').animate( { opacity: '1' }, 500, 'linear');
				}, 200);
				setTimeout(function() {
					$('#item3b').animate( { opacity: '1' }, 500, 'linear');
				}, 400);
				setTimeout(function() {
					$('#item4-ex').animate( { opacity: '1' }, 500, 'linear');
				}, 200);
				setTimeout(function() {
					$('#item5b').animate( { opacity: '1' }, 500, 'linear');
				}, 400);
				setTimeout(function() {
					$('#person2b').animate( { opacity: '1' }, 500, 'linear');
				}, 600);
				setTimeout(function() {
					$('#person3b').animate( { opacity: '1' }, 500, 'linear');
				}, 800);
				setTimeout(function() {
					$('#person4-ex').animate( { opacity: '1' }, 500, 'linear');
				}, 800);
				setTimeout(function() {
					$('#person5-ex').animate( { opacity: '1' }, 500, 'linear');
				}, 1000);
				setTimeout(function() {
					$('#person6b').animate( { opacity: '1' }, 500, 'linear');
				}, 1000);
				setTimeout(function() {
					$('#person7-ex').animate( { opacity: '1' }, 500, 'linear');
				}, 1200);			
				animationRunning = false;
			});
		}
		if (panel == 5) {
			$('#panel-view-window').animate( { scrollLeft: '+=600' }, 500, 'swing', function() {
				$('#btn-forward').hide();
				$('#btn-forward-text').hide();
				$('#panel6-text').animate( { opacity: '1' }, 1000);
				animationRunning = false;
			});
		}
	}
	function slideshowReverseActions(panel) {
		if (panel == 2) {
			$('#panel-view-window').animate( { scrollLeft: '-=600' }, 500, 'swing', function() {
				$('#btn-backward').hide();
				$('#btn-forward-text').html('<strong>how it works</strong>');
				$('#item1').animate( { width: '0', height: '0', left: 300, top: 150 }, 0);
				$('#item2').animate( { width: '0', height: '0', left: 300, top: 150 }, 0);
				$('#item3').animate( { width: '0', height: '0', left: 300, top: 150 }, 0);
				$('#item4').animate( { width: '0', height: '0', left: 300, top: 150 }, 0);
				$('#item5').animate( { width: '0', height: '0', left: 300, top: 150 }, 0);
				$('#panel2-text').animate( { opacity: '0' }, 0);
				animationRunning = false;
			});
		}
		if (panel == 3) {
			
			$('#item6').animate( { width: 0, height: 0, left: 412, top: 37 }, 500);
			$('#item7').animate( { width: 0, height: 0, left: 487, top: 37 }, 500);
			$('#item8').animate( { width: 0, height: 0, left: 562, top: 37 }, 500);
			$('#item9').animate( { width: 0, height: 0, left: 37, top: 112 }, 500);
			$('#item10').animate( { width: 0, height: 0, left: 112, top: 112 }, 500);
			$('#item11').animate( { width: 0, height: 0, left: 187, top: 112 }, 500);
			$('#item12').animate( { width: 0, height: 0, left: 262, top: 112 }, 500);
			$('#item13').animate( { width: 0, height: 0, left: 337, top: 112 }, 500);
			$('#item14').animate( { width: 0, height: 0, left: 412, top: 112 }, 500);
			$('#item15').animate( { width: 0, height: 0, left: 487, top: 112 }, 500);
			$('#item16').animate( { width: 0, height: 0, left: 562, top: 112 }, 500);
			$('#person2').animate( { opacity: 0 }, 500 );
			$('#arrow1').animate( { opacity: 0 }, 500);
			$('#person3').animate( { opacity: 0 }, 500 );
			$('#arrow2').animate( { opacity: 0 }, 500);
			setTimeout(function() {
				$('#item1').animate( { width: '100', height: '100', left: 0 }, 500);
				$('#item2').animate( { width: '100', height: '100', left: 125}, 500);
				$('#item3').animate( { width: '100', height: '100', left: 250 }, 500);
				$('#item4').animate( { width: '100', height: '100', left: 375 }, 500);
				$('#item5').animate( { width: '100', height: '100', left: 500 }, 500);
				$('#panel2-text').animate( { opacity: '0' }, 500, 'swing', function() {
					$('#panel2-text').html('Have power tools gathering dust? Hanging on to that old stroller just in case? VillageBuilder lets you share those extra items with friends and neighbors.');
					$('#panel2-text').animate( { opacity: '1' }, 500);
				});
				$('#person1').animate( { width: '200', height: '200', left: '33%', top: '140px' }, 500);
			}, 500);
			
			setTimeout(function() {
				animationRunning = false;
			}, 1000);
		}
		if (panel == 4) {
			$('#panel-view-window').animate( { scrollLeft: '-=600' }, 500, 'swing', function() {
				$('#panel4-text').animate( { opacity: '0' }, 0);
				animationRunning = false;
			});
		}
		if (panel == 5) {
			$('#panel-view-window').animate( { scrollLeft: '-=600' }, 500, 'swing', function() {
				$('#panel5-text').animate( { opacity: '0' }, 0);
				$('#item1b').animate( { opacity: '0' }, 0, 'linear');
				$('#item2-ex').animate( { opacity: '0' }, 0, 'linear');
				$('#item3b').animate( { opacity: '0' }, 0, 'linear');
				$('#item4-ex').animate( { opacity: '0' }, 0, 'linear');
				$('#item5b').animate( { opacity: '0' }, 0, 'linear');
				$('#person2b').animate( { opacity: '0' }, 0, 'linear');
				$('#person3b').animate( { opacity: '0' }, 0, 'linear');
				$('#person4-ex').animate( { opacity: '0' }, 0, 'linear');
				$('#person5-ex').animate( { opacity: '0' }, 0, 'linear');
				$('#person6b').animate( { opacity: '0' }, 0, 'linear');
				$('#person7-ex').animate( { opacity: '0' }, 0, 'linear');
				animationRunning = false;
			});
		}
		if (panel == 6) {
			$('#panel-view-window').animate( { scrollLeft: '-=600' }, 500, 'swing', function() {
				$('#btn-forward').show();
				$('#btn-forward-text').show();
				$('#panel6-text').animate( { opacity: '0' }, 0);
				animationRunning = false;
			});
		}
	}
	
	$('#panel-view-window').scrollLeft(-1800);
	$('#btn-forward,#btn-forward-text').click(function() {
		if (!animationRunning) {
			animationRunning = true;
			slideshowActions(currentPanel);
			currentPanel++;
		}
		return false;
	});
	$('#btn-backward').click(function() {
		if (!animationRunning) {
			animationRunning = true;
			slideshowReverseActions(currentPanel);
			currentPanel--;
		}
		return false;
	});
});

</script>

<div style="display:none;">
	<form action="{% url 'account:account_info' %}" method="post" id="facebook-login-form">
        {% csrf_token %}
  	    {{ facebook_login_form }}									
    </form>
</div>	
    
<div class="container-fluid" style="max-width:1280px;min-width:750px;background-color:#FFF;padding:0;">
    <div class="row" style="padding:15px 15px 7px 15px;">
        <div class="col-sm-6">
		 	<img src="{% static 'img/vb-large.png' %}" alt="VillageBuilder" width="358" height="47" /> 
		 	<div style="font-size:18px;color:#585858;">
		 	    share resources with friends and neighbors
		 	</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-12" style="margin-top:1px;padding:2px 1px;">
					{% if form.errors %}
				    	<div class="label label-danger">
						    Unable to log in. Check your email and password.
						</div>
				    {% endif %}
				</div>
			</div>
			<div class="row">
			    <form method="post" action="{% url 'login' %}" id="login-form">
			        {% csrf_token %}
			        <input type="hidden" name="next" value="{{ next }}" />
					<div class="col-sm-3" style="padding:0 1px;">
					    	{{ form.username|attr:"class:form-control input-sm"|attr:"placeholder:email" }}
					</div>
					<div class="col-sm-3" style="padding:0 1px;">
							{{ form.password|attr:"class:form-control input-sm"|attr:"placeholder:password" }}
					</div>
					<div class="col-sm-1" style="padding:0 1px;">
						<button type="submit" class="btn btn-sm btn-success btn-block" value="Login">
			        	log in
			        	</button>
					</div>
				</form>
				<div class="col-sm-1">
					<div class="text-muted" style="padding-top:5px;">
						OR
					</div>
				</div>
				<div class="col-sm-4" style="padding:0 7px;">
					<button type="button" class="btn btn-primary btn-sm btn-block facebook-login-button">
				   		<i class="fa fa-facebook-official"></i>
			        		log in with Facebook
				    </button>
				</div>
			</div>
			<div class="row">
			    <div class="col-sm-12" style="padding:0 1px;">
			        <div style="padding:10px 0;font-size:0.9em;font-weight:bold;">
					    <a href="{% url 'account:account_info' %}">Create Account</a> 
					    &nbsp;&nbsp;|&nbsp;&nbsp;
					    <a href="{% url 'request_reset_password' %}">
					       Forgot Password?
					    </a>
					</div>
				</div>
		   </div>
		</div>
 	</div>
 	{% if messages or successMessage or errorMessage %}
	    <div class="row">
	        <div class="col-md-10 col-md-offset-1">
                {% include 'core/blocks/notifications.html' %} 
            </div>
        </div>
    {% endif %}
    
    <style>
    	#window-container-container {
    		width:100%;
    		background-color:#006500;
    		padding:30px;
    		border-top:3px #34B51E solid;
    		border-bottom:3px #34B51E solid;
    		height:70vh;
    		min-height: 450px;
    		position: relative;
    	}
    	#window-container {
    		width:620px;
    		position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
    		background-color:#fff;
    		padding:10px;
    	}
    	#panel-view-window {
    		width:600px;
    		overflow:hidden;
    		height:400px;
    	}
    	.slideshow-panel {
    		width:16.7%;
    		display:table-cell;
    		text-align:center;
    		position:relative;
    		height:400px;
    	}
    </style>
    
    
    <div id="window-container-container">
	    <div id="window-container">
		    <div style="position:absolute;top:40%;left:-100px;">
		   		<a href="" id="btn-backward" style="display:none;color:#fff;">
		   		    <i class="fa fa-chevron-circle-left fa-4x"></i>
		   		</a>
		   	</div>
		   	<div style="position:absolute;top:40%;right:-100px;">
		   		<a href="" id="btn-forward"  style="color:#fff;"><i class="fa fa-chevron-circle-right fa-4x"></i></a>
		   	</div>
		   	<div style="position:absolute;top:55%;right:-120px;">
		   		<a href="" id="btn-forward-text" style="color:#fff;"><strong>how it works</strong></a>
		   	</div>
		    <div id="panel-view-window">
		        <div style="width:3000px;height:400px;display:table;">
				    <div class="slideshow-panel" style="vertical-align: middle;">
						{% include 'core/blocks/login_window_1.html' %}
					</div>
					<div class="slideshow-panel" style="vertical-align: bottom;">
						{% include 'core/blocks/login_window_3.html' %}
					</div>
					<div class="slideshow-panel" style="vertical-align: bottom;">
						{% include 'core/blocks/login_window_4.html' %}
					</div>
					<div class="slideshow-panel" style="vertical-align: bottom;">
						{% include 'core/blocks/login_window_5.html' %}
					</div>
					<div class="slideshow-panel" style="vertical-align: bottom;">
						{% include 'core/blocks/login_window_6.html' %}
					</div>
				</div>
		    </div>
		</div>
	</div>
	{% include 'core/blocks/footer.html' %}
</div>






{% endblock %}