{% extends "core/bases/logged_out_base.html" %}
{% load app_filters %}
{% load widget_tweaks %}

{% block subcontent %}

<div id="top-section">
	<h2 id="top-title">Request Password Reset</h2>
</div>

<div class="row">
    <div class="col-md-4">
		<form method="post" action="{% url 'request_reset_password' %}">
		       {% csrf_token %}
		       <div class="form-group">
		       {{ form.email.errors }}
			    {{ form.email|label_with_classes:"control-label" }}
				{{ form.email|attr:"class:form-control" }}
			</div>
		      <button type="submit" class="btn btn-primary" value="Login">Submit</button>
		      <input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>
</div>
<div style="margin-top:20px;">
	<a href="{% url 'login' %}"><i class="fa fa-angle-double-left"></i> Return to the login page</a>
</div>

{% endblock %}