{% extends "core/bases/base.html" %}
{% load app_filters %}
{% load widget_tweaks %}

{% block content %}

<h1> Reset Password</h1>

{{action}}

<form method="post" action="{% url 'request_reset_password' %}">
       {% csrf_token %}
       <div class="form-group">
       {{ form.email.errors }}
	    {{ form.email|label_with_classes:"control-label" }}
		{{ form.email|attr:"class:form-control" }}
	</div>
       


      <button type="submit" class="btn btn-primary" value="Login">Submit</button>
      <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}