{% extends "core/bases/logged_out_base.html" %}
{% load app_filters %}
{% load widget_tweaks %}

{% block subcontent %}

<div id="top-section">
	<h2 id="top-title">Reset Password for {{ member.participant.get_name }}</h2>
</div>

<div class="row">
	<div class="col-md-4">
		<form method="post" action="{% url 'reset_password' code %}">
		    {% csrf_token %}
		    {% for field in form %}
			    <div class="form-group">
			        {{ field.errors }}
				    {{ field|label_with_classes:"control-label" }}
					{{ field|attr:"class:form-control" }}
				</div>
			{% endfor %}
		
		    <button type="submit" class="btn btn-primary" value="Login">Submit</button>
		</form>
	</div>
</div>
<div style="margin-top:20px;">
	<a href="{% url 'login' %}"><i class="fa fa-angle-double-left"></i> Return to the login page</a>
</div>

{% endblock %}