<h5 id="about">About</h5>

<p>This website was inspired by the 
<a target="_blank" href="https://en.wikipedia.org/wiki/Intentional_community">intentional community</a> concept.
If you're really that interested, you can read the project proposal 
<a target="_blank" href="http://johnmeinken.com/portfolio/files/VillageBuilder.pdf">here</a>.</p>

<p>VillageBuilder is not a business or a nonprofit.  
At this point, it's just a website that we built because we believe in the idea.
If we get enough users, we may consider options for generating the funding needed to maintain the site long-term.
We are committed to keeping the site free and awesome.</p>

<br>
 <dl class="dl dl-6">
	<dt>concept and implementation</dt>
	<dd><a href="http://johnmeinken.com" target="_blank">John Meinken</a></dd>
	<dt>logo</dt>
	<dd><a href="http://nosepilot.com/" target="_blank">Al Sacui</a></dd>
	<dt>advisors</dt>
	<dd>Kathy North, Doug McDiarmid</dd>
</dl> 
<br>

