<h5 id="minimizing_risk">Minimizing Risk</h5>

<p>There is inherent risk in sharing, especially when it involves loaning valuable items to others.  Please follow these tips for minimizing risk:</p>


<p><strong class="text-danger">Only share with trusted friends.</strong><br>
VillageBuilder is designed to help you do that.  You can specify for each item who you want to share with.</p>

<p><strong class="text-danger">Don't share items that have a significant financial or sentimental value.</strong><br>
If you can't afford to lose it, don't share it.</p>

<p><strong class="text-danger">Always discuss the borrowers liability *before* loaning an item.</strong><br>
Even if a person is reliable, there's no way to completely eliminate the risk of an item being damaged, 
stolen or lost while in their posession.  It's better to discuss expectations before something goes wrong,
not after.</p>
