<h5 id="privacy">Privacy</h5>

<p>The privacy of our users' personal data and site activity is important to us.  
We never sell data to third parties.
All data submitted to the site is sent over an encrypted connection and stored in a secure data center.
</p> 

<p>We strive to make the site as clear as possible to users regarding who can see their personal data
and activity.  Typically any time you post something to the site, there will be a description 
about who can see that information.  
If you find anything on the site confusing with regards to privacy, please 
<a href="mailto:admin@villagebuilder.net">let us know</a>.</p>

