<h5 id="solicitation">Restrictions on Solicitation</h5>

<p>VillageBuilder is a place for sharing with friends, and using the site for commercial purposes is not allowed.  In general, you may not request money for goods or services offered through the site.  You may, however, offer money or barter in exchange for goods or services.</p>  

<p>Here are some examples to help clarify:</p>

<div class="well well-sm">
<p>You offer to rent out your lawnmower for a small fee.</p>
<span class="text-danger"><i class="fa fa-times"></i>
Not allowed.  The sale of goods or services is not allowed on the site.</span>
</div>

<div class="well well-sm">
<p>You make a painting and offer to sell it for considerably less than you think it's worth.</p>
<span class="text-danger"><i class="fa fa-times"></i>
Not allowed.  The sale of goods or services is not allowed on the site, even if it's at or below cost.</span></span>
</div>

<div class="well well-sm">
<p>You offer extra tomatoes from your garden on the site for free.  Your friend offers to pay for them and you accept her offer.</p>
<span class="text-success"><i class="fa fa-check"></i>
Allowed.  In this case the money was offered, not solicited.  VillageBuilder has no restrictions on the offering of money as a token of gratitude.</span>
</div>

<div class="well well-sm">
<p>You offer to help someone with carpentry work provided they pay for the cost of the materials.</p>
<span class="text-success"><i class="fa fa-check"></i>
Allowed.  In this case, you are sharing your services for free.  If you also required they pay for the cost of your labor that would not be allowed.</span>
</div>

<div class="well well-sm">
<p>You want to buy a scroll saw and use the site to find friends who want to split the cost with you and share the item.</p>
<span class="text-success"><i class="fa fa-check"></i>
Allowed.  You are sharing the cost of purchasing an item together.  You are not selling or renting anything.</span>
</div>
