<h5 id="termination">Grounds for Account Termination</h5>

<p>You may not use this site other than for its intended purposes of sharing with friends.  
We reserve the right to close accounts for anyone who we feel is not using the site as intended.  
This includes but is not limited to: repeated violation of our restrictions on solicitation; 
harassment or threatening/hostile comments; offensive or inappropriate language or pictures; 
and repeated or unwelcome attempts to connect or interact with people you don't know.</p>

<p>If you feel someone is violating our policies, please report them to 
<a href="mailto:admin@villagebuilder.net">admin@villagebuilder.net</a>.</p>